<include file="public/layout"/>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>

<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>积分充值设置</h3>
                <h5>网站全局内容基本选项设置</h5>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div class="explanation" id="explanation">
        <div class="title" id="checkZoom"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span id="explanationZoom" title="收起提示"></span></div>
        <ul>
            <!--<li>系统平台全局设置,包括基础设置、购物、短信、邮件、水印和分销等相关模块。</li>-->
        </ul>
    </div>
    <form id="form1">
        <!-- <input type="hidden" name="inc_type" value="recharge"> -->
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>充值配置</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="switch1" class="cb-enable  <if condition="$config['recharge_open'] eq 1">selected</if>">开启</label>
                        <label for="switch0" class="cb-disable <if condition="$config['recharge_open'] eq 0">selected</if>">关闭</label>
                        <input type="radio" id="switch1"  name="recharge_open" value="1" <if condition="$config['recharge_open'] eq 1">checked="checked"</if>>
                        <input type="radio" id="switch0" name="recharge_open" value="0" <if condition="$config['recharge_open'] eq 0">checked="checked"</if> >
                    </div>
                    <p class="notic">是否开启积分充值功能</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label>积分兑换比例</label>
                </dt>
                <dd class="opt">
                    <input onkeyup="this.value=/^\d+\.?\d{0,2}$/.test(this.value) ? this.value : ''" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,2}$" id="points_rate" name="points_rate" value="{$config.points_rate}" class="input-txt" type="text">
                    <span class="err">只能输入整数</span>

                    <p class="notic">（注：如填1就是代表每1块钱兑换1积分）</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label>收款人姓名</label>
                </dt>
                <dd class="opt">
                    <input id="recharge_name" name="recharge_name" value="{$config.recharge_name}" class="input-txt" type="text">
                    <span class="err"></span>

                    <p class="notic">（注：请输入转账的收款人姓名）</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label>充值银行卡</label>
                </dt>
                <dd class="opt">
                    <input onkeyup="this.value=/^\d+\.?\d{0,2}$/.test(this.value) ? this.value : ''" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,2}$" id="recharge_card" name="recharge_card" value="{$config.recharge_card}" class="input-txt" type="text">
                    <span class="err">只能输入整数</span>

                    <p class="notic">（注：请输入转账的银行卡号）</p>
                </dd>
            </dl>

            <!-- <dl class="row">
                <dt class="tit">
                    <label for="reg_integral">最低手续费</label>
                </dt>
                <dd class="opt">
                    <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$" id="min_service_money" name="min_service_money" value="{$config.min_service_money}" class="input-txt" type="text">
                    <span class="err">只能输入整数</span>

                    <p class="notic">（注：单笔手续费计算出来小于该值时，则取该值）</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="reg_integral">最高手续费</label>
                </dt>
                <dd class="opt">
                    <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$" id="max_service_money" name="max_service_money" value="{$config.max_service_money}" class="input-txt" type="text">
                    <span class="err">只能输入整数</span>

                    <p class="notic">（注：单笔手续费计算出来大于该值时，则取该值,为0时则不限）</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label for="distribut_min">最低提现额</label>
                </dt>
                <dd class="opt">
                    <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$" name="min_cash" id="min_cash" value="{$config.min_cash}" class="input-txt" type="text">
                    <span class="err">只能输入整数</span>

                    <p class="notic">（注：单笔最低提现额）</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="distribut_min">最高提现额</label>
                </dt>
                <dd class="opt">
                    <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$" name="max_cash" id="max_cash" value="{$config.max_cash}" class="input-txt" type="text">
                    <span class="err">只能输入整数</span>

                    <p class="notic">（注：单笔最高提现额,必须大于0）</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label for="distribut_min">每日累计提现额</label>
                </dt>
                <dd class="opt">
                    <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$" name="count_cash" id="count_cash" value="{$config.count_cash}" class="input-txt" type="text">
                    <span class="err">只能输入整数</span>

                    <p class="notic">（注：单人每日累计提现额达到该值时，本日将不支持继续提现,为0时则不限）</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="distribut_min">每日累计提现次数</label>
                </dt>
                <dd class="opt">
                    <input onKeyUp="this.value=this.value.replace(/[^\d]/g,'')" onpaste="this.value=this.value.replace(/[^\d]/g,'')" pattern="^\d{1,}$" name="cash_times" id="cash_times" value="{$config.cash_times}" class="input-txt" type="text">
                    <span class="err">只能输入整数</span>

                    <p class="notic">（注：单人每日累计提现次数达到该值时，本日将不支持继续提现,为0时则不限）</p>
                </dd>
            </dl> -->



            <div class="bot"><a href="JavaScript:void(0);" class="ncap-btn-big ncap-btn-green" onclick="fromsubmit();">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">

        function fromsubmit(){
            var points_rate = $('#points_rate').val();
            var recharge_card = $('#recharge_card').val();
            var patrn = /^([1-9]{1})(\d{14}|\d{18})$/;
			if (!patrn.test(recharge_card)) {
				layer.msg('银行卡号不正确',{icon: 2});
				return false;
			}
            if(points_rate == ''){
                layer.msg('积分比例不能为空!', {icon: 2,time: 1000});
                return false;
            }
            
            $.ajax({
                type: "POST",
                url: "/index.php?m=Admin&c=Push&a=set_recharge",//+tab,
                data: $('#form1').serialize(),
                dataType: 'json',
                success: function (data) {
                    if(data.status == 1){
                        layer.alert(data.msg, {icon: 1, closeBtn: 0}, function(){
                            window.location.reload();
                        });
                    }else{
                        layer.alert(data.msg, {icon: 2,time: 3000});
                    }
                },
                error:function(){
                    layer.alert('网络异常', {icon: 2,time: 3000});
                }
            });
        }

</script>
</body>
</html>