/runtime
/application/database.php
/public/upload/goods/thumb/*
/vendor/topthink/think-captcha/assets/bgs/*
.vscode
.project
.idea
/public/upload/goods/thumb/
/public/upload/*
cron.txt
cron_team.sh
/sql