<include file="public/layout"/>

<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
        <div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
        <div id="append_parent"></div>
        <div id="ajaxwaitid"></div>
        <div class="page">

            <form class="form-horizontal" id="handleposition" method="post" onsubmit="return false;">

                <div class="ncap-form-default">

                    
                        <dl class="row">
                                <dt class="tit">
                                    <label><em>*</em>层级</label>
                                </dt>
                                <dd class="opt">
                                    <input type="text" name="act_name" value="" class="input-txt">
                                    <p class="notic">请填写拼团标题</p>
                                </dd>
                            </dl>
                            
                            <dl class="row">
                                    <dt class="tit">
                                        <label><em>*</em>拼团价格</label>
                                    </dt>
                                    <dd class="opt">
                                        <input type="text" name="act_name" value="" class="input-txt">
                                        <p class="notic">请填写拼团价格</p>
                                    </dd>
                            </dl>

                            <dl class="row">
                                    <dt class="tit">
                                        <label><em>*</em>拼团人数</label>
                                    </dt>
                                    <dd class="opt">
                                        <input type="text" name="act_name" value="" class="input-txt">
                                        <p class="notic">请填写拼团人数</p>
                                    </dd>
                            </dl>
                    
                    <div class="bot"><a onclick="select_goods()" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
                </div>
            </form>
        </div>
<script type="text/javascript">
    function select_goods()
    {
        var input = $("input[type='radio']:checked");
        if (input.length == 0) {
            layer.alert('请选择商品', {icon: 2}); //alert('请选择商品');
            return false;
        }
        var goods_id = input.data('id');
        var spec = $('#spec_goods_id_'+goods_id);
        var goodsItem = null;
        if(spec.length == 0){
            goodsItem = new GoodsItem(input.data('id'), input.data('name'),input.data('count'), input.data('price'),input.data('cost-price'),input.data('img'), null);
        }else{
            var spec_a = spec.find('.ncap-btn-green');
            if(spec_a.length == 0){
                layer.alert('请选择要参与活动的商品规格', {icon: 2}); //alert('请选择商品');
            }else{
                var goodsSpecItem = new GoodsSpecItem(spec_a.data('item-id'),spec_a.data('key-name'),spec_a.data('store-count'),spec_a.data('price'),spec_a.data('spec-img'));
                goodsItem = new GoodsItem(input.data('id'), input.data('name'), input.data('count'),input.data('price'),input.data('cost-price'), input.data('img'), goodsSpecItem);
            }
        }
        window.parent.call_back(goodsItem);
    }

</script>
        
</body>
</html>