body { font-family: 微软雅黑;min-width:320px;max-width:750px;margin: 0 auto;font-size: 0; background: #F5F5F5;}
*{margin: 0;padding: 0;}
a{text-decoration: none;cursor: pointer;}
ul li{list-style: none;}
img{max-width: 100%;}
.clear{clear: both;}

@font-face{
	font-family: 'PingFangMedium';
	src:url("/template/mobile/rainbow/static/font/PingFangMedium.ttf")
}

.lj_wrap{width: 6.87rem;margin: 0 auto;}

.lj_top{line-height: 0.88rem;background: #fff;}
.lj_top_left{float: left;width: 0.25rem;height: 0.41rem;}
.lj_top_left img{vertical-align: middle;}
.lj_top_right{ text-align: center;}
.lj_top_right p{font-size: 0.36rem;color: #0f0f0f;}

.lj_userinfo_all{padding-bottom: 0.28rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.lj_userinfo{background: #fff;margin-top:0.4rem;border-radius: 0.1rem;}
.lj_userinfo_img{float: left;margin: 0.2rem 0.3rem 0rem 0.3rem;}
.lj_userinfo_img img{width: 1.2rem;height: 1.2rem;border-radius: 50%;}
.lj_userinfo_con{ padding-top: 0.38rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;}
.lj_userinfo_con p{font-size: 0.35rem;color: #0F0F0F;margin-bottom: 0.05rem;}
.lj_userinfo_con span{font-size: 0.29rem;color: #666666;}
.lj_userinfo_r{float: right;margin-top:-0.6rem;margin-right: 0.3rem;}

.lj_main_p{background: #fff;margin-top: 0.4rem;border-radius: 0.1rem;margin-bottom: 2.95rem;}
.lj_main_p ul li{line-height: 0.86rem;border-bottom: 1px solid #f5f5f5;margin-left: 0.3rem;margin-right: 0.3rem;}
.lj_main_p ul li:last-child{border: none;}
.lj_main_p ul li p{display: inline-block; font-size: 0.26rem;color: #1a1a1a;}
.lj_main_p ul li img{float: right;margin-top: 0.35rem;margin-right: 0.02rem;}

/*-----------------personal------------------*/

.lj_main_m{margin-top: 0.4rem;}
.lj_main_m_con1 input{outline: none;width: 100%; line-height: 0.9rem;color: #b3b3b3;font-size: 0.23rem;padding-left: 0.3rem;padding-right: 0.3rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 0.1rem;border: none;}
.lj_main_m_con1 input:-ms-input-placeholder{color:#b3b3b3 ;}
.lj_main_m_con1 input::-moz-placeholder{color:#b3b3b3;}
.lj_main_m_con1 input:-moz-placeholder{color:#b3b3b3;}
.lj_main_m_con1 input::-webkit-input-placeholder{color:#b3b3b3;}

.lj_footer_m{width: 100%;background: #ff4200;text-align: center;border-radius: 0.1rem;margin-bottom: 0.5rem;margin-top: 0.4rem;font-size: 0.36rem;color: #fff;line-height: 0.8rem;}


/*-------------------modify----------------------*/


.lj_main_d{background: #fff;margin-top: 0.4rem;border-radius: 0.1rem;margin-bottom: 2.95rem;}
.lj_main_d ul li{display: block; line-height: 0.76rem;border-bottom: 1px solid #f5f5f5;margin-left: 0.3rem;margin-right: 0.3rem;}
.lj_main_d ul li form{float: right;height: 0.9rem;}
.around{width: 0.7rem;height: 0.5rem;margin-right: 0.4rem;border-radius: 50%;}
.lj_list_r_img1{width: 0.7rem;height: 0.7rem;margin-right: 0.4rem;margin-top: 0.1rem;border-radius: 50%;}
.lj_main_d ul li:last-child{border: none;}
.lj_main_d ul li p{display: inline-block; font-size: 0.26rem;color: #1a1a1a;line-height: 0.86rem;}
.lj_list_r{float: right;}
.lj_list_r img{margin-bottom: -0.15rem;}
.lj_list_r p{float: left;font-size: 0.2rem !important;color: #666666 !important;margin-right: 0.4rem;}
.lj_list_r_img2{width: 0.12rem;height: 0.2rem;margin-bottom: 0.2rem;}
.lj_list_r_img3{width: 0.12rem;height: 0.2rem;margin-bottom: 0.2rem;position: absolute;top: 14%;right: 8%;}
/*-----------------p_details------------------*/

.lj_address{margin-bottom: 6.7rem;}
.lj_main_a{background: #fff;margin-top: 0.4rem;border-radius: 0.1rem;padding: 0.3rem 0.3rem 1rem 0.3rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.lj_main_a_l{float: left;}
.lj_main_a_l p{font-size: 0.23rem;color: #0F0F0F;font-weight: bold;margin-bottom: 0.13rem;}
.lj_main_a_l span{font-size: 0.23rem;color: #424242;}
.lj_main_a_r{float: right;margin-top: 0.16rem;width: 0.34rem;height: 0.34rem;}

/*---------------address-------------------*/

.lj_main_edit{position: relative;background: #fff;margin-top: 0.4rem;border-radius: 0.1rem;}
.lj_main_edit ul li input{width: 4.54rem; font-size: 0.26rem;color: #1a1a1a;border: none;outline: none;margin-left: 0.48rem;}
.lj_main_edit ul li{line-height: 0.86rem;border-bottom: 1px solid #f5f5f5 ;margin-left: 0.3rem;margin-right: 0.3rem;}
.lj_main_edit ul li:last-child{border: none;}
.lj_main_edit ul li p{display: inline-block; font-size: 0.26rem;color: #1a1a1a;}
.lj_shr{margin-left: 0.78rem !important;}


.lj_edit_p{margin-left: 0.77rem !important;}
.lj_edit_p2{margin-left: 0rem !important;margin-left: 0.3rem !important;border: 1px solid #999999;line-height: 0.36rem;padding: 0rem 0.2rem 0rem 0.2rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
border-radius: 0.1rem;}

.lj_edit_p2{background: #fff;margin-left: 0rem !important;margin-left: 0.3rem !important;border: 1px solid #999999;line-height: 0.36rem;padding: 0rem 0.2rem 0rem 0.2rem;border-radius: 0.1rem;}
.lj_edit_p1{margin-right: 0.18rem;}
.lj_edit_p3{margin-left: 0rem !important;margin-left: 0.3rem !important;border: 1px solid #999999;line-height: 0.36rem;padding: 0rem 0.2rem 0rem 0.2rem;border-radius: 0.1rem;}

.lj_p4{background: #ffbca4;margin-left: 0rem !important;margin-left: 0.3rem !important;border: 1px solid #999999;line-height: 0.36rem;padding: 0rem 0.2rem 0rem 0.2rem;border-radius: 0.1rem;}
#zt{color: #999999;cursor: pointer;}
.lj_main_edit ul li p:nth-child(1){color: #666666;}
.lj_main_edit ul li label{display: block;border: 1px solid #cdcdcd;background: #fff;width: 0.41rem;height: 0.41rem;border-radius: 50%;position: absolute;bottom: 0.32rem;right: 0.81rem; }
.lj_anniu{float: right;margin-top: 0.22rem; display: block;width: 0.94rem;height: 0.42rem;background: #e6e6e6;border-radius: 0.3rem;}

.lj_c{background: #ffbca4;}
.lj_l{right: 0.3rem !important;}

.lj_bg{position: absolute;left: 0;top: 0; width: 100%;height: 100%;background: #000;background: rgba(0,0,0,.5); display: none;}
.lj_tank{border-radius: 0.1rem; opacity: 1; width: 4rem;height: 2.5rem;position: fixed;left: 23%;top:3.4rem; background: #fff;border: 1px solid #000000;overflow: hidden;display: none;}
.lj_tank p{font-size: 0.23rem;color: #000;text-align: center;margin-top: 0.2rem;}
.lj_tank input{font-size: 0.2rem; padding-right: 0.1rem; border-radius: 0.05rem;border: 1px solid #999; width: 3.5rem;line-height: 0.5rem;padding-left: 0.1rem;outline: none;margin-left: 0.14rem;margin-top: 0.3rem;}
.lj_tank_btn{margin-left: 0.7rem;}
.lj_tank_btn input{cursor: pointer;width: 32%;text-align: center;line-height: 0.35rem;height: 0.35rem;border: none;background: #0086E3;color: #fff;}



/*--------------edit-Consignee,edit-personal-----------------------------*/

.lj_top{line-height: 0.88rem;background: #fff;}
.lj_top_left{float: left;}
.lj_top_left img{vertical-align: middle;}
.lj_top_right{ text-align: center;}
.lj_top_right p{font-size: 0.36rem;color: #0f0f0f;}

.lj_team_tl{float: left;width: 0.15rem;height: 0.24rem;}
.lj_team_tl img{vertical-align: middle;}
.lj_team_tr{text-align: center;}
.lj_team_tr p{font-size: 0.23rem;color: #333333;}

.lj_team_nav ul li{float: left;border: 1px solid #0060fe;border-left: none;text-align: center;width: 33.1%;}
.lj_team_nav ul li:last-child{border-right: none;}
.lj_team_nav ul li a{font-size: 0.23rem;color: #0060fe;line-height: 0.6rem;}

.lj_team_main{margin-top: 0.2rem;}
.lj_t_m_c1{background: #e7eff7;border-radius: 0.1rem;float: left;padding-top: 0.15rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
margin-bottom: 0.1REM;}
.lj_t_m_c1 h2{font-size: 0.3rem;color: #333333;font-weight: inherit; margin-left: 0.3rem;}
.lj_t_m_c1 h3{font-size: 0.19rem;color: #999999;font-weight: inherit;margin: 0.05rem 0rem 0.2rem 0.3rem;}
.lj_t_m_c1 h4{float: left;margin-left: 2.88rem;margin-top: -11%; text-align: center;font-size: 0.29rem;color: #333333;font-weight: inherit;}
.lj_t_m_r{float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r2{display: none; float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r3{float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r4{display: none; float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r5{float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r6{display: none; float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r7{float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r8{display: none; float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r9{float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r10{display: none; float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r11{float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r12{display: none; float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r13{float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}
.lj_t_m_r14{display: none; float: right;margin-left: 2.33rem;margin-top: -0.58rem;margin-right: 0.4rem;width: 0.24rem;height: 0.15rem;}


.lj_t_list ul li p{text-align: center; font-size: 0.23rem;color: #666666;display: inline-block;line-height: 0.58rem;width: 2.15rem;}
.lj_t_bor{border: 1px solid #bfd1e2;position: relative;}
.lj_t_bor em{display: block;width: 1px;height: 0.44rem;background: #bfd1e2;position: absolute;top: 0.08rem;left: 33%;}
.lj_t_bor label{display: block;width: 1px;height: 0.44rem;background: #bfd1e2;position: absolute;top: 0.08rem;left: 63%;}
.lj_t_list ul li{border-bottom: 1px solid #cccccc;}
.lj_t_list ul li:last-child{border-bottom: none;}
.lj_t_list ul{padding: 0.2rem 0.2rem 0rem 0.2rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.lj_t_bor p{text-align: center; font-size: 0.23rem;color: #666666;display: inline-block;line-height: 0.58rem;width: 2.2rem;}
.lj_t_hid{display: none;}
.lj_t_hid1{display: none;}
.lj_t_hid2{display: none;}
.lj_t_hid3{display: none;}
.lj_t_hid4{display: none;}
.lj_t_hid5{display: none;}
.lj_t_hid6{display: none;}


.lj_t_m_c2{background: #f7e7e8;border-radius: 0.1rem;float: left;padding-top: 0.15rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
margin-bottom: 0.1rem;}
.lj_t_m_c2 h2{font-size: 0.3rem;color: #333333;font-weight: inherit; margin-left: 0.3rem;margin-top: 0.1rem !important;}
.lj_t_m_c2 h3{font-size: 0.19rem;color: #999999;font-weight: inherit;margin: 0.05rem 0rem 0.2rem 0.3rem;}
.lj_t_m_c2 h4{float: left;margin-left: 2.88rem;margin-top: -11%; text-align: center;font-size: 0.29rem;color: #333333;font-weight: inherit;}
.lj_t_m_c2 ul li{border-bottom: 1px solid #CCCCCC;}
.lj_t_m_c2 ul li:last-child{border: none;}

.lj_sdl_h2{color: #ff0054 !important;line-height: 0.5rem;margin-bottom: 0.2rem;}
.lj_sdl_h4{margin-top: -0.65rem !important;}

.lj_t_m_c3{background: #e7f7f0;border-radius: 0.1rem;float: left;padding-top: 0.15rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
margin-bottom: 0.1rem;}
.lj_t_m_c3 h2{font-size: 0.3rem;color: #333333;font-weight: inherit; margin-left: 0.3rem;margin-top: 0.1rem !important;}
.lj_t_m_c3 h3{font-size: 0.19rem;color: #999999;font-weight: inherit;margin: 0.05rem 0rem 0.2rem 0.3rem;}
.lj_t_m_c3 h4{float: left;margin-left: 2.88rem;margin-top: -11%; text-align: center;font-size: 0.29rem;color: #333333;font-weight: inherit;}
.lj_t_m_c3 ul li{border-bottom: 1px solid #CCCCCC;}
.lj_t_m_c3 ul li:last-child{border: none;}

.lj_fxs_h2{color: #6ee081 !important;}


/*------------------团队业绩----------------------*/

.lj_top_sign{width: 100%;height: 4.3rem;background: url(../image/lj_top_sign.jpg)no-repeat;line-height: 0.88rem;
	padding-top: 1.2rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.lj_s_banner{text-align: center;}

.lj_top_sign{position: relative; width: 100%;height: 4.3rem;background: url(../image/lj_top_sign.jpg)no-repeat;background-size: 100% 100%;line-height: 0.88rem;}



.lj_sign_tl{float: left; width: 0.16rem;height: 0.25rem;}
.lj_sign_tl img{vertical-align: middle;}
.lj_sign_tr{text-align: center;}
.lj_sign_tr p{font-size: 0.23rem;color: #fff;}

.lj_s_banner{width: 3.07rem;margin: 0 auto;border: 1px solid #FFFFFF;height: 0.8rem;border-radius: 0.5rem;text-align: center;}
.lj_s_yqd_img{width: 0.38rem;height: 0.4rem;float: left;padding-top: 0.2rem;padding-left: 0.7rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.lj_s_yqd a{font-size: 0.37rem;color: #fff;float: left;padding-left: 0.1rem;margin-top: -0.05rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.lj_s_yqd{width: 3.07rem;margin: 0 auto;border: 1px solid #FFFFFF;height: 0.8rem;border-radius: 0.5rem;text-align: center;}
.lj_s_yqd_img{width: 0.38rem;height: 0.4rem;float: left;padding-top: 0.2rem;padding-left: 0.7rem;}
.lj_s_yqd a{font-size: 0.37rem;color: #fff;float: left;padding-left: 0.1rem;margin-top: -0.05rem;}
.lj_s_lxqd{line-height: 0.3rem;}
.lj_s_banner p{font-size: 0.24rem;color: #ffffff;}

.lj_qd_bg{border-bottom: 2px solid #fff; background: url(../image/lj_qd_gd.png)no-repeat;background-size: 100% 100%; position: fixed;top: 0; width: 100%;height: 0.88rem;}
.lj_integral{margin-bottom: 0.6rem; background: url(../image/lj_top_sign.jpg) no-repeat;background-size: 100% 100%;width: 100%;height: 4.3rem;}
.lj_in_l{float: left;width: 0.15rem;height: 0.25rem;line-height: 0.88rem;}
.lj_in_l img{vertical-align: middle;}
.lj_in_r{text-align: center;line-height: 0.88rem;}
.lj_in_r p{font-size: 0.23rem;color: #ffffff;}

.lj_in_banner{text-align: center;padding-top: 1.2rem;box-sizing: border-box; margin-bottom: 0.85rem;}
.lj_in_banner p{font-size: 0.3rem;color: #ffffff;line-height: 0.48rem;}


.lj_in_jfh{ margin: 0 auto; text-align: center;border: 1px solid #FFFFFF;border-radius: 0.35rem;width: 3.6rem;height: 0.57rem;}
.lj_in_jfh p{font-size: 0.26rem;color: #FFFFFF;line-height: 0.57rem;}

.lj_in_main1{margin-top: 0.3rem; background: #ffecbb;width: 100%;height: 0.6rem;border-radius: 0.3rem;}
.lj_in_main1 ul li{float: left;margin-left: 1.44rem;}
.lj_in_main1 ul li:first-child{margin-left: 0.91rem !important;}
.lj_in_main1 ul li p{font-size: 0.26rem;color: #ff8348;line-height: 0.6rem;}
.lj_main2{background: #ffd7bb;}





.lj_fill_banner{padding-top: 0.88rem;height: 1.5rem;background: #fff;}
.lj_fill_banner em{width: 100%;height: 1px;background: #f5f5f5;display: block;z-index: 1000;margin-bottom: 0.2rem;}

.lj_f_b_l{width: 5.5rem;float: left;}
.lj_f_b_l p{font-size: 0.3rem;color: #494949;line-height: 0.55rem;}
.lj_f_b_l span:nth-child(1){padding-left: 0.37rem;}
.lj_f_b_l span:nth-child(2){padding-left: 0.09rem;}
.lj_f_b_l p:nth-child(1){padding-left: 0.43rem;}
.lj_f_b_l p:nth-child(2) img{width: 0.24rem;height: 0.3rem;}

.lj_f_b_r{float: right;line-height: 1.5rem;}
.lj_f_b_r img{width: 0.19rem;height: 0.32rem;}

.lj_fill_item1{height: 2.5rem;background: #fff;margin-top: 0.3rem;margin-bottom: 0.3rem;}
.lj_fill_item1 h2{font-size: 0.31rem;color: #333333;padding-top: 0.19rem;font-weight:inherit;}


.lj_f_item1_c{margin-top: 0.2rem;}
.lj_f_item1_l{width: 5.5rem;float: left;}
.lj_f_item1_l img{float: left;padding-top: 0.04rem;width: 1.38rem;height: 1.38rem;}

.lj_f_item1_l p{padding-left: 1.61rem;line-height: 0.29rem;}
.lj_f_item1_l_p1{font-size: 0.23rem;padding-top: 0rem;width: 3.55rem;height: 0.5rem;}
.lj_f_item1_l_p2{font-size: 0.21rem;color: #999999;margin-top: 0.58rem;}

.lj_f_item1_r {float: right;}
.lj_f_item1_r p{text-align: right;}
.lj_f_item1_r p:nth-child(1){font-size: 0.19rem;color: #e60b30;}
.lj_f_item1_r p:nth-child(2){font-size: 0.16rem;color: #999999;margin-top: 0.17rem;}
.lj_f_item1_r p:nth-child(3){font-size: 0.18rem;color: #666666;margin-top: 0.54rem;}


.lj_f_main2_c{line-height: 0.8rem; height: 0.8rem;background: #fff;border-bottom: 2px solid #f5f5f5;}

.lj_f_main2_c_l p{float: left;font-size: 0.3rem;color: #333333;}
.lj_f_main2_c_r p{float: right;font-size: 0.25rem;color: #ff5722;}
.lj_f_xbx{border: none;}

.lj_f_footer{background: url(../image/lj_f_footer.png)no-repeat;background-size: 100% 100%; width: 100%;height: 0.85rem;margin-top: 0.5rem;text-align: center;line-height: 0.85rem;}
.lj_f_footer a{font-size: 0.31rem;color: #fff;}


@media only screen and (max-width: 320px) {
	.lj_t_bor label{top: 0.06rem;}
	.lj_t_bor em{top: 0.06rem;}
	.lj_edit_p2{margin-left: 0.2rem !important;}
	.lj_f_item1_r p:nth-child(3){margin-top: 0.24rem !important;}
}

@media only screen and (max-width: 750px) {
	.lj_t_bor label{top: 0.08rem;}
	.lj_t_bor em{top: 0.08rem;}
	.lj_edit_p2{margin-left: 0.3rem !important;}
	.lj_f_item1_r p:nth-child(3){margin-top: 0.54rem ;}
}
@media only screen and (max-width: 550px) {
	.lj_edit_p2{margin-left: 0.2rem !important;}
}