.apply_info_item{
    line-height: 1rem;
}
.apply_info_label{
    display: block;
    width: 100%;
    height: 100%;
}
.apply_info_text{
    display: inline-block;
    text-align: right;
    letter-spacing: .03rem;
    width: 20%;
}
.apply_info_inp{
    display: inline-block;
    width: 75%; 
    height: 1rem;
    text-indent: .2rem;
    border:0;
    outline: none;
}
/* 选择等级 */
.apply_grade{
    line-height: .8rem;
    margin: 0 .28rem;
    border-bottom: .02rem solid #ccc;
}
.apply_grade_icon{
    float: right;
    font-size: .2rem;
}
.apply_grade_mask{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 31;
    background: rgba(0,0,0,.5);
}
.mask_content{
    position: absolute;
    bottom: -100%;
    bottom: 0;
    width: 100%;
}
.mask_content_title{
    position: relative;
    padding-top: .2rem;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.mask_content_back{
    position: absolute;
    top: 0;
    right: 0;
    width: .6rem;
    height: .6rem;
    line-height: .65rem;
    color: #ccc;
}
.mask_content_icon{
    font-size: .4rem;
}
.mask_content .active{
    color: #f60ea1;
    font-size: .3rem;
}
.mask_content_item{
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #fff;
    border-bottom: .02rem solid #ccc;
}
.mask_content_item:last-child{
    border: 0;
}
/* 上传图片 */
.apply_uploading{
    margin-top: .2rem;
}
.apply_uploading_imgwrap{
    position: relative;
    margin: 0 auto;
    width: 5rem;
    height: 2.8rem;
    text-align: center;
    line-height: 2.8rem;
    border-radius: .1rem;
    background: #f1f1f1;
}
.apply_uploading_text{
    margin-top: .2rem;
    text-align: center;
}
.uploading_icon{
    color: #d8d8d8;
    font-size: 1.2rem;
}
.apply_uploading_img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 30;
}
/* 提交 */
.apply{
    margin-top: .2rem;
    width: 100%;
    padding: 0 .28rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.apply_send{
    color: #fff;
    text-align: center;
    line-height: .8rem;
    border-radius: .1rem;
    /*从左到右的渐变色：*/
	background:-webkit-linear-gradient(left,#f8566c,#fa3479);
	background:-o-linear-gradient(right,#f8566c,#fa3479);
	background:-moz-linear-gradient(right,#f8566c,#fa3479);
	background: linear-gradient(to right,#f8566c,#fa3479);
}
/* 审核中 */
.review,.prosperity{
    display: none;
    text-align: center;
}
.review_imgwrap,.prosperity_imgwrap{
    margin: 2rem auto 0;
    width: 3.4rem;
    height: 3.4rem;
}
.review_img,.prosperity_img{
    width: 100%;
    height: 100%;
}
.review_text,.prosperity_text{
    margin-top: .6rem;
    letter-spacing: .02rem;
}
/* 审核成功 */
.prosperity_btn{
    color: #fff;
    text-align: center;
    line-height: .8rem;
    border-radius: .1rem;
    margin: 2rem .28rem 0;
    /*从左到右的渐变色：*/
	background:-webkit-linear-gradient(left,#f8566c,#fa3479);
	background:-o-linear-gradient(right,#f8566c,#fa3479);
	background:-moz-linear-gradient(right,#f8566c,#fa3479);
	background: linear-gradient(to right,#f8566c,#fa3479);
}