<!-- /mobile/play/index -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结束直播</title>
    <script src="__STATIC__/js/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/public/base.css" />
    <link rel="stylesheet" href="__STATIC__/css/play/end_life.css">
</head>
<body>
    <div class="wrapper">
        <div class="live-wrap">
            <img src="{$room_pic}">
            <!--<img src="__STATIC__/images/play/00live-bg.png">-->
        </div>
        <!-- 遮罩层 -->
        <div class="mask">
            <!-- 结束直播 -->
            <div class="end-popup">
                <div class="user-info">
                    <div class="avatar"><img src="{$head_pic}"/></div>
                    <div class="user-name">
                        <span class="name">{$user_name}</span>
                        <span class="id">ID:{$user_id}</span>
                    </div>
                </div>
                <div class="life-status">结束直播</div>
                <div class="life-duration">直播时长: {$end_time}</div>

                <div class="result-wrap">
                    <div class="item">
                        <span>打赏</span>
                        <span>{$room.money}元</span>
                    </div>
                    <div class="item">
                        <span>观看人数</span>
                        <span>{$room.look_amount}</span>
                    </div>
                    <div class="item">
                        <span>点赞</span>
                        <span>{$room.top_amount}</span>
                    </div>
                </div>

                <div class="backHome"><a href="{:U('Mobile/index/index')}">返回首页</a></div>

            </div>

        </div>

    </div>

</body>
</html>