<!DOCTYPE html>
<html>
<head>
    <title>Agora Web Sample</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="__STATIC__/live/vendor/bootstrap.min.css">
    <script src="__STATIC__/live/js/AgoraRTCSDK-2.6.1.js"></script>
    <script src="__STATIC__/live/vendor/jquery.js"></script>

    <script src="__STATIC__/live/static/js/public/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/live/static/css/public/base.css" />
    <link rel="stylesheet" href="__STATIC__/live/static/css/play/play.css">

    <link href="__STATIC__/chat/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/chat/css/style.css" rel="stylesheet">

</head>

<body onload="connect();">
<div class="wrapper">
    <input type="text" id="room_id" value="{$room_id}" style="display: none;">
    <input type="text" id="users_id" value="{$users_id}" style="display: none;">
    <div id="div_device" class="panel panel-default" style="display:none">
        <div class="select">
            <label for="audioSource">Audio source: </label><select id="audioSource"></select>
        </div>
        <div class="select">
            <label for="videoSource">Video source: </label><select id="videoSource"></select>
        </div>
    </div>

    <div id="div_join" class="panel panel-default" style="display:none">
        <div class="panel-body">
            App ID: <input id="appId" type="text" value="4c2954a8e1524f5ea15dc5ae14232042" size="36"></input>
            Channel: <input id="channel" type="text" value="1000" size="4"></input>
            Host: <input id="video" type="checkbox" checked></input>
            <button id="join" class="btn btn-primary" onclick="join()">Join</button>
            <button id="leave" class="btn btn-primary" onclick="leave()">Leave</button>
            <button id="publish" class="btn btn-primary" onclick="publish()">Publish</button>
            <button id="unpublish" class="btn btn-primary" onclick="unpublish()">Unpublish</button>
        </div>
    </div>

    <div id="video" style="margin:0 auto;width: 100%;height: 100vh;" >
        <div id="agora_local" style="width: 7.5rem;height:100vh;display:inline-block;"></div>
    </div>



    <!-- 直播间内容 -->
    <div class="live-room">
        <div class="topBar">
            <div class="live-status">
                <span class="status">直播中</span>
                <i class="dot-red"></i>
                <span class="time">01:33:23</span>
            </div>
            <div class="liveId">
                <span class="shop-name">DC商城</span>
                <span class="id">ID:123456</span>
            </div>
            <div class="closeBtn"></div>
        </div>

        <div class="anchor-part">
            <span class="viewer" id="user_count"><i class="icon"></i>1人</span>
            <span class="follow" id="user_top"><i class="icon"></i>88人</span>
        </div>

        <!-- 聊天窗口 -->
        <div class="chat-wrap">

            <!-- 礼物 -->
            <div class="showGift-wrap">
                <div class="gift-item">
                    <span class="gift-icon"><img src="__STATIC__/live/static/images/play/gift-icon-1.png" /></span>
                    <span class="gift-count">x2</span>
                    <span class="viewer-name">美丽的小猪猪</span>
                </div>
            </div>

            <!-- 弹幕滚动 -->
            <select style="margin-bottom:8px;display: none" id="client_list">
                <option value="all">所有人</option>
            </select>
            <div class="barrage-scroll">
                <ul class="barrage-list" id="dialog-list">
                    <!--<li class="dm-item">-->
                    <!--<span class="level level-1"></span>-->
                    <!--<span class="viewer-name">小猪猪朋友：</span>-->
                    <!--<span class="barrage-con">你好吗</span>-->
                    <!--</li>-->
                    <!--<li class="dm-item">-->
                    <!--<span class="level level-2"></span>-->
                    <!--<span class="viewer-name">小猪猪朋友：</span>-->
                    <!--<span class="barrage-con">你好吗</span>-->
                    <!--</li>-->
                    <!--<li class="dm-item">-->
                    <!--<span class="level level-3"></span>-->
                    <!--<span class="viewer-name">小猪猪朋友：</span>-->
                    <!--<span class="barrage-con">你好吗</span>-->
                    <!--</li>-->
                    <!--<li class="dm-item">-->
                    <!--<span class="level level-4"></span>-->
                    <!--<span class="viewer-name">小猪猪朋友：</span>-->
                    <!--<span class="barrage-con">你好吗</span>-->
                    <!--</li>-->
                    <!--<li class="dm-item">-->
                    <!--<span class="level level-4"></span>-->
                    <!--<span class="viewer-name">小猪猪朋友：</span>-->
                    <!--<span class="barrage-con">你好吗</span>-->
                    <!--</li>-->
                    <!--<li class="dm-item">-->
                    <!--<span class="level level-5"></span>-->
                    <!--<span class="viewer-name">小猪猪朋友：</span>-->
                    <!--<span class="barrage-con">你好吗</span>-->
                    <!--</li>-->
                    <!--<li class="dm-item">-->
                    <!--<span class="level level-6"></span>-->
                    <!--<span class="viewer-name">小猪猪朋友：</span>-->
                    <!--<span class="barrage-con">你好吗</span>-->
                    <!--</li>-->
                </ul>
            </div>

            <!-- 发送弹幕 -->
            <form >
                <div class="chat-operate">
                    <div class="send-redPacket"></div>
                    <div class="msg-input">
                        <input type="text" placeholder="说点什么..." id="textarea">
                    </div>
                    <div class="endLive">
                        <input type="button" class="btn btn-default" onclick="onSubmit()" value="发表" />
                        <!--<a href="./end_life.html" onclick="">结束直播</a>-->
                    </div>
                </div>
            </form>
        </div>

    </div>

    <!-- 遮罩层 -->
    <div class="mask">
        <!-- 红包弹窗 -->
        <div class="popup redPacket-popup">
            <div class="popup-header">
                <h3>手气红包</h3>
            </div>
            <div class="popup-body">
                <div class="group-wrap">
                    <span class="title">总金额</span>
						<span class="right">
							<input type="text" id="money" name="money" placeholder="0.00">
						元</span>
                </div>
                <div class="group-wrap">
                    <span class="title">红包个数</span>
						<span class="right">
							<input type="text" id='num' name="num" placeholder="填写红包个数">
						个</span>
                </div>
            </div>
            <div class="popup-footer">
                <span class="send-btn" onclick="redSubmit()" value="发红包" >发红包</span>
            </div>
            <div class="close-btn"></div>
        </div>
    </div>
</div>

</div>

<script type="text/javascript" src="__STATIC__/chat/js/swfobject.js"></script>
<script type="text/javascript" src="__STATIC__/chat/js/web_socket.js"></script>
<script type="text/javascript" src="__STATIC__/chat/js/jquery.min.js"></script>

<script src="__STATIC__/live/static/js/public/jquery-3.3.1.min.js"></script>
<script>
    //红包隐藏显示
    $(".close-btn").click(function(){
        $(".popup").hide();
        $(".mask").hide();
    })
    $(".send-redPacket").click(function(){
        $(".mask").show();
        $(".popup").show();
    })

</script>
<script>
    $(function(){
        // 调用摄像头
        join();

    })
</script>

<script language="javascript">

    if(!AgoraRTC.checkSystemRequirements()) {
        alert("Your browser does not support WebRTC!");
    }

    /* select Log type */
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.NONE);
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.ERROR);
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.WARNING);
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.INFO);
    // AgoraRTC.Logger.setLogLevel(AgoraRTC.Logger.DEBUG);

    /* simulated data to proof setLogLevel() */
    AgoraRTC.Logger.error('this is error');
    AgoraRTC.Logger.warning('this is warning');
    AgoraRTC.Logger.info('this is info');
    AgoraRTC.Logger.debug('this is debug');

    var client, localStream, camera, microphone;

    var audioSelect = document.querySelector('select#audioSource');
    var videoSelect = document.querySelector('select#videoSource');

    function join() {
        document.getElementById("join").disabled = true;
        document.getElementById("video").disabled = true;
        var channel_key = null;

        console.log("Init AgoraRTC client with App ID: " + appId.value);

        var channel_key=null;
        $.ajax({
            type: "POST",
            data:{appId:appId.value,channel:'1000'},
            async:false,
            url: "/Live/index/RtmTokenBuilderSample",
            success: function(data){
                channel_key = data;
            }
        })

        client = AgoraRTC.createClient({mode: 'live'});
        client.init(appId.value, function () {
            console.log("AgoraRTC client initialized");
            client.join(channel_key, '1000', null, function(uid) {
                console.log("User " + uid + " join channel successfully");

                if (document.getElementById("video").checked) {
                    camera = videoSource.value;
                    microphone = audioSource.value;
                    localStream = AgoraRTC.createStream({streamID: uid, audio: true, cameraId: camera, microphoneId: microphone, video: document.getElementById("video").checked, screen: false});
                    //localStream = AgoraRTC.createStream({streamID: uid, audio: false, cameraId: camera, microphoneId: microphone, video: false, screen: true, extensionId: 'minllpmhdgpndnkomcoccfekfegnlikg'});
                    if (document.getElementById("video").checked) {
                        localStream.setVideoProfile('720p_3');

                    }

                    // The user has granted access to the camera and mic.
                    localStream.on("accessAllowed", function() {
                        console.log("accessAllowed");
                    });

                    // The user has denied access to the camera and mic.
                    localStream.on("accessDenied", function() {
                        console.log("accessDenied");
                    });

                    localStream.init(function() {
                        console.log("getUserMedia successfully");
                        localStream.play('agora_local');

                        client.publish(localStream, function (err) {
                            console.log("Publish local stream error: " + err);
                        });

                        client.on('stream-published', function (evt) {
                            console.log("Publish local stream successfully");
                        });
                    }, function (err) {
                        console.log("getUserMedia failed", err);
                    });
                }
            }, function(err) {
                console.log("Join channel failed", err);
            });
        }, function (err) {
            console.log("AgoraRTC client init failed", err);
        });

        channelKey = "";
        client.on('error', function(err) {
            console.log("Got error msg:", err.reason);
            if (err.reason === 'DYNAMIC_KEY_TIMEOUT') {
                client.renewChannelKey(channelKey, function(){
                    console.log("Renew channel key successfully");
                }, function(err){
                    console.log("Renew channel key failed: ", err);
                });
            }
        });


        client.on('stream-added', function (evt) {
            var stream = evt.stream;
            console.log("New stream added: " + stream.getId());
            console.log("Subscribe ", stream);
            client.subscribe(stream, function (err) {
                console.log("Subscribe stream failed", err);
            });
        });

        client.on('stream-subscribed', function (evt) {
            var stream = evt.stream;
            console.log("Subscribe remote stream successfully: " + stream.getId());
            if ($('div#video #agora_remote'+stream.getId()).length === 0) {
                $('div#video').append('<div id="agora_remote'+stream.getId()+'" style="float:left; width:810px;height:607px;display:inline-block;"></div>');
            }
            stream.play('agora_remote' + stream.getId());
        });

        client.on('stream-removed', function (evt) {
            var stream = evt.stream;
            stream.stop();
            $('#agora_remote' + stream.getId()).remove();
            console.log("Remote stream is removed " + stream.getId());
        });

        client.on('peer-leave', function (evt) {
            var stream = evt.stream;
            if (stream) {
                stream.stop();
                $('#agora_remote' + stream.getId()).remove();
                console.log(evt.uid + " leaved from this channel");
            }
        });
    }

    function leave() {
        document.getElementById("leave").disabled = true;
        client.leave(function () {
            console.log("Leavel channel successfully");
        }, function (err) {
            console.log("Leave channel failed");
        });
    }

    function publish() {
        document.getElementById("publish").disabled = true;
        document.getElementById("unpublish").disabled = false;
        client.publish(localStream, function (err) {
            console.log("Publish local stream error: " + err);
        });
    }

    function unpublish() {
        document.getElementById("publish").disabled = false;
        document.getElementById("unpublish").disabled = true;
        client.unpublish(localStream, function (err) {
            console.log("Unpublish local stream failed" + err);
        });
    }

    function getDevices() {
        AgoraRTC.getDevices(function (devices) {
            for (var i = 0; i !== devices.length; ++i) {
                var device = devices[i];
                var option = document.createElement('option');
                option.value = device.deviceId;
                if (device.kind === 'audioinput') {
                    option.text = device.label || 'microphone ' + (audioSelect.length + 1);
                    audioSelect.appendChild(option);
                } else if (device.kind === 'videoinput') {
                    option.text = device.label || 'camera ' + (videoSelect.length + 1);
                    videoSelect.appendChild(option);
                } else {
                    console.log('Some other kind of source/device: ', device);
                }
            }
        });
    }

    //audioSelect.onchange = getDevices;
    //videoSelect.onchange = getDevices;
    getDevices();
</script>


<!--聊天室-->
<script type="text/javascript">
    if (typeof console == "undefined") {    this.console = { log: function (msg) {  } };}
    // 如果浏览器不支持websocket，会使用这个flash自动模拟websocket协议，此过程对开发者透明
    WEB_SOCKET_SWF_LOCATION = "__STATIC__/chat/swf/WebSocketMain.swf";
    // 开启flash的websocket debug
    WEB_SOCKET_DEBUG = true;

    var ws, name, client_list={};

    // 连接服务端
    function connect() {
        // 创建websocket
        ws = new WebSocket("ws://"+document.domain+":7272");
        // 当socket连接打开时，输入用户名
        ws.onopen = onopen;
        // 当有消息时根据消息类型显示不同信息
        ws.onmessage = onmessage;
        ws.onclose = function() {
            console.log("连接关闭，定时重连");
            connect();
        };
        ws.onerror = function() {
            console.log("出现错误");
        };
    }

    // 连接建立时发送登录信息
    function onopen()
    {
        if(!name)
        {
            show_prompt();
        }
        // 登录
        var login_data = '{"type":"login","client_name":"'+name.replace(/"/g, '\\"')+'","room_id":"<?php echo isset($_GET['room_id']) ? $_GET['room_id'] : 1?>"}';
        console.log("websocket握手成功，发送登录数据:"+login_data);
        ws.send(login_data);
    }

    // 服务端发来消息时
    function onmessage(e)
    {
        console.log(e.data);
        var data = eval("("+e.data+")");
        switch(data['type']){
            // 服务端ping客户端
            case 'ping':
                ws.send('{"type":"pong"}');
                break;;
            // 登录 更新用户列表
            case 'login':
                //{"type":"login","client_id":xxx,"client_name":"xxx","client_list":"[...]","time":"xxx"}
                say(data['client_id'], data['client_name'],  data['client_name']+' 加入了直播间', data['time']);
                if(data['client_list'])
                {
                    client_list = data['client_list'];
                }
                else
                {
                    client_list[data['client_id']] = data['client_name'];
                }
                flush_client_list();
                console.log(data['client_name']+"登录成功");
                break;
            // 发言
            case 'say':
                say(data['from_client_id'], data['from_client_name'], data['content'], data['time']);
                break;
            // 红包
            case 'redSubmit':
                
                break;
            // 用户退出 更新用户列表
            case 'logout':
                //{"type":"logout","client_id":xxx,"time":"xxx"}
                say(data['from_client_id'], data['from_client_name'], data['from_client_name']+' 退出了', data['time']);
                delete client_list[data['from_client_id']];
                flush_client_list();
                //直播发红包
            case 'red_anchor':
                red_anchor(data['from_client_id'], data['from_client_name'], data['content'], data['time']);
                console.log(data['from_client_name']+"说："+data['content']);
                break;
            //礼物
            case 'gift':
                gift(data['from_client_id'], data['from_client_name'], data['content'], data['time']);
                console.log(data['from_client_name']+"说："+data['content']);
                break;
        }
    }

    // 输入姓名
    function show_prompt(){
        name = prompt('输入你的名字：', '');
        if(!name || name=='null'){
            name = '游客';
        }
    }

    // 提交对话
    function onSubmit() {

        var input = document.getElementById("textarea");
        var to_client_id = $("#client_list option:selected").attr("value");
        var to_client_name = $("#client_list option:selected").text();
        ws.send('{"type":"say","to_client_id":"'+to_client_id+'","to_client_name":"'+to_client_name+'","content":"'+input.value.replace(/"/g, '\\"').replace(/\n/g,'\\n').replace(/\r/g, '\\r')+'"}');
        input.value = "";
        input.focus();
    }
    //红包提交
    function redSubmit(){
        var money = document.getElementById('money').value;
        var num = document.getElementById('num').value;
        var room_id = document.getElementById('room_id').value;
        var users_id = document.getElementById('users_id').value;
        var to_client_id = $("#client_list option:selected").attr("value");
        var to_client_name = $("#client_list option:selected").text();
       
        $.ajax({
            type: 'post',
            async:false,
            url: "{:U('live/index/redSubmit')}", //请求的服务端地址
            data: {money: money,num: num,room_id: room_id},
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if(data.status==200){
                    var content = data.data;
                    var to_client_id = content.to_client_id;
                    var content = content.content;
                    var to_client_name = content.to_client_name;
                    ws.send('{"type":"red_anchor","to_client_id":"'+to_client_id+'","to_client_name":"'+to_client_name+'","content":"'+content+'"}');
                }else{
                    alert('发送失败');
                }
            }
        })
    }

    // 刷新用户列表框
    function flush_client_list(){
        var userlist_window = $("#userlist");
        var client_list_slelect = $("#client_list");
        userlist_window.empty();
        client_list_slelect.empty();
        userlist_window.append('<h4>在线用户</h4><ul>');
        client_list_slelect.append('<option value="all" id="cli_all">所有人</option>');
        var count = 0;
        for(var p in client_list){
            userlist_window.append('<li id="'+p+'">'+client_list[p]+'</li>');
            client_list_slelect.append('<option value="'+p+'">'+client_list[p]+'</option>');
            ++count;
        }
        $("#client_list").val(select_client_id);
        userlist_window.append('</ul>');
        $("#user_count").html('<i class="icon"></i>'+count+"人");

    }

    // 发言
    function say(from_client_id, from_client_name, content, time){
        var html = '';
        html += '<li class="dm-item">';
        html += '<span class="level level-1"></span>';
        html +=  '<span class="viewer-name"> '+from_client_name+'：</span>';
        html += '<span class="barrage-con">'+content+'</span>';
        html += '</li>';
        $("#dialog-list").append(html);

        //$("#dialog").append('<div class="speech_item"><img src="http://lorempixel.com/38/38/?'+from_client_id+'" class="user_icon" /> '+from_client_name+' <br> '+time+'<div style="clear:both;"></div><p class="triangle-isosceles top">'+content+'</p> </div>');
    }
    //发红包
    function red_anchor(from_client_id, from_client_name, content, time){
        console.log(content);
        var str = '';
        str += '<li class="dm-item">';
        str +='<span class="level level-<?php echo $level;?>"></span>';
        str +=' <span class="viewer-name">'+from_client_name+'：</span>';
        str +='<span class="barrage-con">'+content+'</span>';
        str +='</li>';
        $("#dialog-list").append(str);
    }

    //发礼物
    function gift(from_client_id, from_client_name, content, time){
        console.log(content);

        var str = '';
        str += '<li class="dm-item">';
        str +='<span class="level level-<?php echo $level;?>"></span>';
        str +=' <span class="viewer-name">'+from_client_name+'：</span>';
        str +='<span class="barrage-con">'+content+'</span>';
        str +='</li>';


        $("#dialog-list").append(str);
    }

    $(function(){
        select_client_id = 'all';
        $("#client_list").change(function(){
            select_client_id = $("#client_list option:selected").attr("value");
        });
    });
</script>
</body>
</html>
</html>
