<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="__STATIC__/css/public/base.css">
    <link rel="stylesheet" href="__STATIC__/css/public/head.css">
    <link rel="stylesheet" href="__STATIC__/css/index/live.css">
    <link rel="stylesheet" href="__STATIC__/live/static/css/play/play.css">
    <script src="__STATIC__/js/public/rem.js"></script>
    <script src="//at.alicdn.com/t/font_1233771_hrw8d8gme1.js"></script>
    <title>开始直播</title>
</head>
<style type="text/css">
    .on{
        color: white;
        background:red;
    }
    /* .publish-btn{
        color: black;
    } */
</style>

<body>
    <div class="public_head">
        <i class="iconfont head_icon" onclick="window.history.back();">&#xe63f;</i>
        <p>开始直播</p>
    </div>
    <!-- 上传图片 -->
    <div class="live_uploading">
        <div class="uploading_img">
            <input id="img" type="file" style="position:absolute;left:0;top:0;width:100%;height:100%;border:0;outline:none;opacity:0;z-index:10;">
            <img class="up_img" src="__STATIC__/images/public/opacity.png" style="position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;">
            <i class="iconfont uploading_icon">&#xe653;</i>
            <p class="uploading_text">设置封面</p>
        </div>
    </div>
    <!-- 分享 -->
    <div class="share">
        <div class="share_content">
            <div class="share_content_item">
                <div class="share_content_icon">
                   <i class="iconfont share_icon" style="color: #f94971;">&#xe600;</i>
                </div>
                <div class="share_content_text">
                    添加商品
                </div>
            </div>
        </div>
    </div>


    
    <!-- 商品选择 -->
    <div class="all-goods" style="display:block">
        <h1>全部宝贝<?php echo count($goodsList); ?></h1>
        <div class="goods-list" style="height: 6rem">
            <?php if(!empty($goodsList)){ ?>
                <?php foreach($goodsList as $k=>$v){ ?>
                    <div class="goods-item" >
                        <div class="img-wrap">
                            <a href="#"><img src="<?php echo $v['goods_url']; ?>" /></a>
                        </div>
                        <div class="text">
                            <h3><a href="#"><?php echo $v['goods_name']; ?></a></h3>
                            <p class="price">￥<?php echo $v['shop_price']; ?></p>
                            <div class="publish-btn"  style="color:black" good_ids = "<?php echo $v['goods_id']; ?>">选择</div>
                        </div>
                    </div>
                <?php } ?>
            <?php } ?>
        </div>
     </div>

     <div  class ="live_btns" style="position: fixed; bottom:0.5rem;color: #fff;
     text-align: center;
     line-height: .8rem;
     border-radius: .1rem;  
     background: linear-gradient(to right,#f8566c,#fa3479);z-index:99 ; 
    width: 100%;padding: 0 ;" >
            开始直播 
     </div>
    <script src="__STATIC__/js/public/jquery-3.3.1.min.js"></script>
    <script src="__PUBLIC__/js/global.js"></script>
    <script src="__STATIC__/js/layer.js?v=22222"  type="text/javascript" ></script>
    <script>
        $(function(){
            var formData = new FormData();
            $("#img").change(function (e) {
                for (var i = 0; i < e.target.files.length; i++) {
                    var file = e.target.files.item(i);
                    //验证是否为图片，不是就跳出循环
                    if (!(/^image\/.*$/i.test(file.type))) {
                        alert("请选择图片上传！")
                        continue;
                    }
                    //实例化FileReader API  
                    var freader = new FileReader();
                    freader.readAsDataURL(file);
                    freader.onload = function (e) {
                        formData.append('fengmian', file);
                        $('.up_img').attr('src', e.target.result)
                    }
                    $("#img").val('');
                }
            });

            $('.live_btns').click(function () {
                //商品
                var good_ids = '';
                $(".on").each(function(i){ 
                     good_ids += $(this).attr('good_ids') + ',';
                })
                formData.append('good_ids',good_ids);
                $.ajax({
                    type: 'post',
                    url: '/index.php?m=Live&c=Index&a=start&t=' + Math.random(),
                    data: formData,
                    dataType: 'json',
                    async: false,
                    cache: false,  //上传文件不需要缓存
                    contentType: false,
                    processData: false, //因为data值是FormData对象，不需要对数据做处理
                    success: function (data) {
                        if (data.status == 200) {
                            window.location.href = '/live';
                        } else {
                            layer.open({content: data.msg, time: 2});
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        showErrorMsg('网络异常，请稍后重试');
                    }
                })
            })



            // // 发布商品
            $(".publish-btn").click(function(){
                if($(this).hasClass('on')){
                    $(this).removeClass('on');
                }else{
                    $(this).addClass('on'); 
                    $(this).css('color:white')
                }
            })




        })
    </script>
</body>
</html>