<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
	    <title>视频列表</title>
	    <link rel="stylesheet" href="__STATIC__/css/public/base.css">
	    <link rel="stylesheet" href="__STATIC__/css/public/head.css">
	    <script src="__STATIC__/js/public/rem.js"></script>
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/index/index.css"/>
	</head>
	<body>
		<div class="wrapper">
			<!--头部-->
			<div class="public_head">
		        <i class="iconfont head_icon" onclick="window.history.back();">&#xe63f;</i>
		        <p>视频列表</p>
		    </div>
			<!--内容-->
			<div class="content">
				<div class="item_wrap">
					<!--视频列表-->
					<div class="live_list">
						<div class="live">
							<img src="__STATIC__/images/play/001cover.png" />
						</div>
						<div class="site">地址显示</div>
						<!--昵称-->
						<div class="nickname">卖卖小呢</div>
						<div class="traffic">
							<span class="icon"></span>
							<span>1000</span>
						</div>
					</div>
					
					<!--视频列表-->
					<div class="live_list">
						<div class="live">
							<img src="__STATIC__/images/play/001cover.png" />
						</div>
						<div class="site">地址显示</div>
						<!--昵称-->
						<div class="nickname">卖卖小呢</div>
						<div class="traffic">
							<span class="icon"></span>
							<span>1000</span>
						</div>
					</div>
					<!--视频列表-->
					<div class="live_list">
						<div class="live">
							<img src="__STATIC__/images/play/001cover.png" />
						</div>
						<div class="site">地址显示</div>
						<!--昵称-->
						<div class="nickname">卖卖小呢</div>
						<div class="traffic">
							<span class="icon"></span>
							<span>1000</span>
						</div>
					</div>
					<!--视频列表-->
					<div class="live_list">
						<div class="live">
							<img src="__STATIC__/images/play/001cover.png" />
						</div>
						<div class="site">地址显示</div>
						<!--昵称-->
						<div class="nickname">卖卖小呢</div>
						<div class="traffic">
							<span class="icon"></span>
							<span>1000</span>
						</div>
					</div>
					<!--视频列表-->
					<div class="live_list">
						<div class="live">
							<img src="__STATIC__/images/play/001cover.png" />
						</div>
						<div class="site">地址显示</div>
						<!--昵称-->
						<div class="nickname">卖卖小呢</div>
						<div class="traffic">
							<span class="icon"></span>
							<span>1000</span>
						</div>
					</div>
					<!--视频列表-->
					<div class="live_list">
						<div class="live">
							<img src="__STATIC__/images/play/001cover.png" />
						</div>
						<div class="site">地址显示</div>
						<!--昵称-->
						<div class="nickname">卖卖小呢</div>
						<div class="traffic">
							<span class="icon"></span>
							<span>1000</span>
						</div>
					</div>
					
				</div>
			</div>
			<!--直播按钮-->
			<div class="live_btn">
				<a class="ive">
					<div>直播</div>
				</a>
			</div>
		</div>
	</body>
</html>
