<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
	    <title>视频列表</title>
	    <link rel="stylesheet" href="__STATIC__/css/public/base.css">
	    <link rel="stylesheet" href="__STATIC__/css/public/head.css">
	    <script src="__STATIC__/js/public/rem.js"></script>
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/index/index.css"/>
	</head>
	<body>
		<div class="wrapper">
			<!--头部-->
			<div class="public_head">
		        <i class="iconfont head_icon" onclick="window.history.go(-1);">&#xe63f;</i>
		        <p>视频列表</p>
		    </div>
			<!--内容-->
			<div class="content">

			</div>
			<!--直播按钮-->
			<if condition='$zhubo eq 1'>
				<div class="live_btn">
					<a class="ive" href="{:U('Live/Index/set')}">
						<div>直播</div>
					</a>
				</div>
			</if>
		</div>
	</body>
    <script src="__STATIC__/js/public/jquery-3.3.1.min.js"></script>
    <script src="__PUBLIC__/js/global.js"></script>
    <script src="__STATIC__/js/layer.js?v=22222"  type="text/javascript" ></script>
	<script type="text/javascript">
        $(document).ready(function () {
             // 加载列表
            $.ajax({
                type: "GET",
                url: "/index.php?m=Live&c=index&a=ajaxVideoList&p=1",
                success: function (data) {
                    $(".content").empty().append(data);
                }
            });
        });
	</script>
</html>
