<include file="public/layout"/>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer"
     style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>商家 - 设置门店状态</h3>
                <h5>网站系统门店状态</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="sellerHandle" method="post">
        <input type="hidden" name="act" id="act" value="{$act}">
        <input type="hidden" name="store_id" value="{$info.store_id}">
        <!--<input type="hidden" name="auth_code" value="{$Think.config.AUTH_CODE}"/>-->
        <div class="ncap-form-default">
            <!-- <dl class="row">
                <dt class="tit">
                    <label for="store_name"><em>*</em>门店名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="store_name" value="{$info.store_name}" id="store_name" maxlength="20"
                           class="input-txt">
                    <span class="err" id="err_store_name"></span>
                    <p class="notic">门店名称</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="webid"><em>*</em>门店网址</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="webid" maxlength="18" value="{$info.webid}" id="webid"
                           class="input-txt">
                    <span class="err" id="err_webid"></span>
                    <p class="notic">门店网址</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="phone"><em>*</em>门店电话</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="phone" value="{$info.phone}" id="phone" maxlength="20"
                           class="input-txt">
                    <span class="err" id="err_phone"></span>
                    <p class="notic">门店电话</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="contact"><em>*</em>门店联系人</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="contact" value="{$info.contact}" id="contact" maxlength="20"
                           class="input-txt">
                    <span class="err" id="err_contact"></span>
                    <p class="notic">门店联系人</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="address"><em>*</em>所在地区</label>
                </dt>
                <dd class="opt">
                    <select onchange="get_city(this)" id="province" name="province">
                        <option  value="">选择省份</option>
                        <volist name="province" id="vo">
                            <option value="{$vo.id}" <if condition="$info[province] eq $vo[id]">selected</if>>{$vo.name}</option>
                        </volist>
                    </select>
                    <select onchange="get_area(this);" id="city" name="city">
                        <option value="">选择城市</option>
                        <volist name="city" id="vo">
                            <option value="{$vo.id}" <if condition="$info[city] eq $vo[id]">selected</if>>{$vo.name}</option>
                        </volist>
                    </select>
                    <select id="district" name="district">
                        <option value="">选择区域</option>
                        <volist name="area" id="vo">
                            <option value="{$vo.id}" <if condition="$info[district] eq $vo[id]">selected</if>>{$vo.name}</option>
                        </volist>
                    </select>

                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="address"><em>*</em>门店详细地址</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="address" value="{$info.address}" id="address"
                           maxlength="20" class="input-txt">
                    <span class="err" id="err_address"></span>
                    <p class="notic">门店详细地址</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="email"><em>*</em>Email</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="email" value="{$info.email}" id="email" class="input-txt" maxlength="40">
                    <span class="err" id="err_email"></span>
                    <p class="notic">Email</p>
                </dd>
            </dl> -->
            <dl class="row">
                <dt class="tit">
                    <label for="is_delete"><em>*</em>门店营业状态</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="is_delete" maxlength="18" value="{$info.is_delete}" id="is_delete"
                           class="input-txt">
                    <span class="err" id="err_webid"></span>
                    <p class="notic">门店营业状态</p>
                </dd>
            </dl>
            <!-- <dl class="row">
                <dt class="tit">
                    <label for="businesshours"><em>*</em>门店营业时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="businesshours" maxlength="18" value="" id="businesshours"
                           class="input-txt">
                    <span class="err" id="err_webid"></span>
                    <p class="notic">门店营业时间</p>
                </dd>
            </dl> -->
            <dl class="row">
                <dt class="tit">
                  <label for="articleForm">营业时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" class="input-txt" id="businesshours" name="businesshours"  value="{$vo.businesshours|date="Y-m-d H:i:s",###}">        
                    <span class="add-on input-group-addon">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    </span> 
                  <span class="err"></span>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green"
                                id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#businesshours').layDate(); 
    });
    // 判断输入框是否为空
    function adsubmit() {
        $('.err').show();
        // var store_name = $('#store_name').val();
        // var webid = $('#webid').val();
        // var phone = $('#phone').val();
        // var contact = $('#contact').val();
        // var province = $('#province').val();
        // var city = $('#city').val();
        // var district = $('#district').val();
        // var address = $('#address').val();
        // var email = $('#email').val();
        // //var act = $('#act').val();
        // if(!store_name){
        //     layer.msg('门店名称不能为空！', {icon: 2, time: 1000});
        //     return false;
        // }
        // if(!webid){
        //     layer.msg('门店网址不能为空！', {icon: 2, time: 1000});
        //     return false;
        // }
        // if(!phone){
        //     layer.msg('门店电话不能为空！', {icon: 2, time: 1000});
        //     return false;
        // }
        // if(!contact){
        //     layer.msg('门店联系人不能为空！', {icon: 2, time: 1000});
        //     return false;
        // }
        // if(!province && !city && !district){
        //     layer.msg('请选择门店所在地区', {icon: 2, time: 1000});
        //     return false;
        // }
        // if(!address){
        //     layer.msg('门店详细地址不能为空！', {icon: 2, time: 1000});
        //     return false;
        // }
        // if(!email){
        //     layer.msg('商家email不能为空！', {icon: 2, time: 1000});
        //     return false;
        // }
        /*if ((password.length < 6 || password.length > 18) && act == 'add') {
            layer.msg('密码长度应该在6-18位！', {icon: 2, time: 1000});//alert('少年，密码不能为空！');
            return false;
        }*/
        $.ajax({
            async: false,
            url: '/index.php?m=Admin&c=Goods&a=sellerHandle&t=' + Math.random(),
            data: $('#sellerHandle').serialize(),
            type: 'post',
            dataType: 'json',
            success: function (data) {
                if (data.status != 1) {
                    layer.msg(data.msg, {icon: 2, time: 2000});
                    $.each(data.result, function (index, item) {
                        $('#err_' + index).text(item)
                    })
                } else {
                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                        window.location.href = data.url;
                    })
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $('#error').html('<span class="error">网络失败，请刷新页面后重试!</span>');
            }
        });
    }
</script>
</body>
</html>