<!DOCTYPE html>
<html>
<head>
    <title>用户端</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="__STATIC__/live/vendor/bootstrap.min.css">
    <script src="__STATIC__/live/js/AgoraRTCSDK-2.6.1.js"></script>
    <script src="__STATIC__/live/vendor/jquery.js"></script>

    <script src="__STATIC__/live/static/js/public/rem.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/live/static/css/public/base.css" />
    <link rel="stylesheet" href="__STATIC__/live/static/css/play/play.css">

    <link href="__STATIC__/chat/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/chat/css/style.css" rel="stylesheet">

</head>

<body onload="connect();">
<div class="wrapper">

<div id="div_device" class="panel panel-default" style="display:none">
    <div class="select">
        <label for="audioSource">Audio source: </label><select id="audioSource"></select>
    </div>
    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
</div>

<div id="div_join" class="panel panel-default" style="display:none;">
    <div class="panel-body">
        App ID: <input id="appId" type="text" value="4c2954a8e1524f5ea15dc5ae14232042" size="36"></input>
        Channel: <input id="channel" type="text" value="1000" size="4"></input>
        Host: <input id="video" type="checkbox"></input>
        <button id="join" class="btn btn-primary" onclick="join()">Join</button>
        <button id="leave" class="btn btn-primary" onclick="leave()">Leave</button>
        <button id="publish" class="btn btn-primary" onclick="publish()">Publish</button>
        <button id="unpublish" class="btn btn-primary" onclick="unpublish()">Unpublish</button>
    </div>
</div>

<div id="video_live" style="margin:0 auto;width: 100%;height: 100vh;" >
        <div id="agora_local" style="width: 7.5rem;height:100vh;display:inline-block;"></div>
    </div>

<!-- 直播间内容 -->
<div class="live-room">
    <div class="topBar">
        <div class="live-status">
            <span class="status">直播中</span>
            <i class="dot-red"></i>
            <span class="time">01:33:23</span>
        </div>
        <div class="liveId">
            <span class="shop-name">DC商城</span>
            <span class="id">ID:123456</span>
        </div>
        <div class="closeBtn"></div>
    </div>

    <div class="anchor-part">
        <span class="viewer" id="user_count"><i class="icon"></i>1人</span>
        <span class="follow" id="user_top"><i class="icon"></i>88人</span>
    </div>

    <!-- 聊天窗口 -->
    <div class="chat-wrap">

        <!-- 礼物 -->
        <div class="showGift-wrap">
            <div class="gift-item">
                <span class="gift-icon"><img src="__STATIC__/live/static/images/play/gift-icon-1.png" /></span>
                <span class="gift-count">x2</span>
                <span class="viewer-name">美丽的小猪猪</span>
            </div>
        </div>

        <!-- 弹幕滚动 -->
        <div class="barrage-scroll">
            <ul class="barrage-list" id="dialog-list">
            </ul>
        </div>

        <!-- 发送弹幕 -->
        <form >
            <div class="chat-operate">
                <div class="send-redPacket"></div>
                <div class="msg-input">
                    <input type="text" placeholder="说点什么..." id="textarea">
                </div>
                <div class="endLive">
                    <input type="button" class="btn btn-default" onclick="onSubmit()" value="发表" />
                    <!--<a href="./end_life.html" onclick="">结束直播</a>-->
                </div>
            </div>
        </form>
    </div>

</div>

<!-- 遮罩层 -->
<div class="mask">
    <!-- 红包弹窗 -->
    <div class="popup redPacket-popup">
        <div class="popup-header">
            <h3>手气红包</h3>
        </div>
        <div class="popup-body">
            <div class="group-wrap">
                <span class="title">总金额</span>
						<span class="right">
							<input type="text" placeholder="0.00">
						元</span>
            </div>
            <div class="group-wrap">
                <span class="title">红包个数</span>
						<span class="right">
							<input type="text" placeholder="填写红包个数">
						个</span>
            </div>
        </div>
        <div class="popup-footer">
            <span class="send-btn">发红包</span>
        </div>
        <div class="close-btn"></div>
    </div>
</div>
</div>


<script type="text/javascript" src="__STATIC__/chat/js/swfobject.js"></script>
<script type="text/javascript" src="__STATIC__/chat/js/web_socket.js"></script>
<script type="text/javascript" src="__STATIC__/chat/js/jquery.min.js"></script>

<script src="__STATIC__/live/static/js/public/jquery-3.3.1.min.js"></script>

<script>
    $(function(){
        // 调用摄像头
        join();

    })
</script>
<script language="javascript">

    if(!AgoraRTC.checkSystemRequirements()) {
        alert("Your browser does not support WebRTC!");
    }

    /* simulated data to proof setLogLevel() */
    AgoraRTC.Logger.error('this is error');
    AgoraRTC.Logger.warning('this is warning');
    AgoraRTC.Logger.info('this is info');
    AgoraRTC.Logger.debug('this is debug');

    var client, localStream, camera, microphone;

    var audioSelect = document.querySelector('select#audioSource');
    var videoSelect = document.querySelector('select#videoSource');

    function join() {
        document.getElementById("join").disabled = true;
        document.getElementById("video").disabled = true;
        var channel_key = null;

        var channel_key=null;
        $.ajax({
            type: "POST",
            data:{appId:appId.value,channel:'1000'},
            async:false,
            url: "/Live/index/RtmTokenBuilderSample",
            success: function(data){
                channel_key = data;
            }
        })

        console.log(channel_key);
        console.log("Init AgoraRTC client with App ID: " + appId.value);
        client = AgoraRTC.createClient({mode: 'live'});
        client.init(appId.value, function () {
            console.log("AgoraRTC client initialized");

            client.join(channel_key, '1000', null, function (uid) {
                console.log("用户 " + uid + " 来到直播间 1000" );
            }, function (err) {
                console.log("加入直播间失败")
            });

            client.on('stream-added', function (evt) {
                // 主播发布视频时会触发 stream-added 事件
                var stream = evt.stream;
                // 访客订阅 stream 流
                client.subscribe(stream, function (err) {
                    console.log("视频流订阅失败", err);
                });
            });

            client.on('stream-subscribed', function (evt) {
                // 主播端视频流订阅成功后触发 stram-subscribed 事件
                var stream = evt.stream;
                // 按指定元素 ID 播放视频流
                stream.play('agora_local');
            });


            client.on('stream-removed', function (evt) {
                // 主播端执行 unpublish 时会触发该事件
                var stream = evt.stream;
                // 停止视频播放
                stream.stop();
            });

            client.on('peer-leave', function (evt) {
                // 主播端执行 leave 下播操作时会触发该事件
                var stream = evt.stream;
                if (stream) {
                    // 停止视频流播放
                    stream.stop();
                }
            });

        }, function (err) {
            console.log("AgoraRTC client init failed", err);
        });
    }

</script>


<!--聊天室-->
<script type="text/javascript">
    if (typeof console == "undefined") {    this.console = { log: function (msg) {  } };}
    // 如果浏览器不支持websocket，会使用这个flash自动模拟websocket协议，此过程对开发者透明
    WEB_SOCKET_SWF_LOCATION = "__STATIC__/chat/swf/WebSocketMain.swf";
    // 开启flash的websocket debug
    WEB_SOCKET_DEBUG = true;

    var ws, name, client_list={};

    // 连接服务端
    function connect() {
        // 创建websocket
        ws = new WebSocket("ws://"+document.domain+":7272");
        // 当socket连接打开时，输入用户名
        ws.onopen = onopen;
        // 当有消息时根据消息类型显示不同信息
        ws.onmessage = onmessage;
        ws.onclose = function() {
            console.log("连接关闭，定时重连");
            connect();
        };
        ws.onerror = function() {
            console.log("出现错误");
        };
    }

    // 连接建立时发送登录信息
    function onopen()
    {
        if(!name)
        {
            show_prompt();
        }
        // 登录
        var login_data = '{"type":"login","client_name":"'+name.replace(/"/g, '\\"')+'","room_id":"<?php echo isset($_GET['room_id']) ? $_GET['room_id'] : 1?>"}';
        console.log("websocket握手成功，发送登录数据:"+login_data);
        ws.send(login_data);
    }

    // 服务端发来消息时
    function onmessage(e)
    {
        console.log(e.data);
        var data = eval("("+e.data+")");
        switch(data['type']){
            // 服务端ping客户端
            case 'ping':
                ws.send('{"type":"pong"}');
                break;;
            // 登录 更新用户列表
            case 'login':
                //{"type":"login","client_id":xxx,"client_name":"xxx","client_list":"[...]","time":"xxx"}
                say(data['client_id'], data['client_name'],  data['client_name']+' 加入了直播间', data['time']);
                if(data['client_list'])
                {
                    client_list = data['client_list'];
                }
                else
                {
                    client_list[data['client_id']] = data['client_name'];
                }
                flush_client_list();
                console.log(data['client_name']+"登录成功");
                break;
            // 发言
            case 'say':
                //{"type":"say","from_client_id":xxx,"to_client_id":"all/client_id","content":"xxx","time":"xxx"}
                say(data['from_client_id'], data['from_client_name'], data['content'], data['time']);
                break;
            // 用户退出 更新用户列表
            case 'logout':
                //{"type":"logout","client_id":xxx,"time":"xxx"}
                say(data['from_client_id'], data['from_client_name'], data['from_client_name']+' 退出了', data['time']);
                delete client_list[data['from_client_id']];
                flush_client_list();
        }
    }

    // 输入姓名
    function show_prompt(){
        name = prompt('输入你的名字：', '');
        if(!name || name=='null'){
            name = '游客';
        }
    }

    // 提交对话
    function onSubmit() {

        var input = document.getElementById("textarea");
        var to_client_id = $("#client_list option:selected").attr("value");
        var to_client_name = $("#client_list option:selected").text();
        ws.send('{"type":"say","to_client_id":"'+to_client_id+'","to_client_name":"'+to_client_name+'","content":"'+input.value.replace(/"/g, '\\"').replace(/\n/g,'\\n').replace(/\r/g, '\\r')+'"}');
        input.value = "";
        input.focus();
    }

    // 刷新用户列表框
    function flush_client_list(){
        var userlist_window = $("#userlist");
        var client_list_slelect = $("#client_list");
        userlist_window.empty();
        client_list_slelect.empty();
        userlist_window.append('<h4>在线用户</h4><ul>');
        client_list_slelect.append('<option value="all" id="cli_all">所有人</option>');
        var count = 0;
        for(var p in client_list){
            userlist_window.append('<li id="'+p+'">'+client_list[p]+'</li>');
            client_list_slelect.append('<option value="'+p+'">'+client_list[p]+'</option>');
            ++count;
        }
        $("#client_list").val(select_client_id);
        userlist_window.append('</ul>');
        $("#user_count").html('<i class="icon"></i>'+count+"人");

    }

    // 发言
    function say(from_client_id, from_client_name, content, time){
        var html = '';
        html += '<li class="dm-item">';
        html += '<span class="level level-1"></span>';
        html +=  '<span class="viewer-name"> '+from_client_name+'：</span>';
        html += '<span class="barrage-con">'+content+'</span>';
        html += '</li>';
        $("#dialog-list").append(html);

        //$("#dialog").append('<div class="speech_item"><img src="http://lorempixel.com/38/38/?'+from_client_id+'" class="user_icon" /> '+from_client_name+' <br> '+time+'<div style="clear:both;"></div><p class="triangle-isosceles top">'+content+'</p> </div>');
    }

    $(function(){
        select_client_id = 'all';
        $("#client_list").change(function(){
            select_client_id = $("#client_list option:selected").attr("value");
        });
    });
</script>
</body>
</html>
</html>
