<include file="public/layout" />
<style>
    td{height:40px;line-height:40px; padding-left:20px;}
    .span_1{
        float:left;
        margin-left:0px;
        height:130px;
        line-height:130px;
    }
    .span_1 ul{list-style:none;padding:0px;}
    .span_1 ul li{
        border:1px solid #CCC;
        height:40px;
        padding:0px 10px;
        margin-left:-1px;
        margin-top:-1px;
        line-height:40px;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>会员管理 - 更改会员信息</h3>
                <h5>快速根据ID更改级别级别</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="user_form" method="post">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label>会员ID</label>
                </dt>
                <dd class="opt">
                    <input class="input-txt valid" name="user_id" id="user_id" type="number">
                    <p class="notic">请输入ID</p>
                </dd>
            </dl>
           
            <dl class="row">
                <dt class="tit">
                    <label>会员等级</label>
                </dt>
                <dd class="opt">
                	<select id="level" name="level">
                        <option value="" selected>---请选择等级---</option>
                		<tpshop sql="select * from `__PREFIX__user_level` where level_id != 12" key="k" item='v'>
                		<option value="{$v[level_id]}">{$v[level_name]}</option>
                		</tpshop>
                	</select>
                </dd>
            </dl>
          
            <div class="bot"><a href="JavaScript:void(0);" onclick="checkUserUpdate();" class="ncap-btn-big ncap-btn-green">确认提交</a></div>

        </div>
    </form>
</div>
<script type="text/javascript">
    function checkUserUpdate(){
      
        var user_id = $('#user_id').val();
        var error = '';
        if(user_id == 0 || user_id == ''){
            error += "用户ID不能为空\n";
        }
        if(level == 0 || level == ''){
            error += "请选择级别\n";
        }

        if(error){
            layer.alert(error, {icon: 2});
            return false;
        }

        $('#user_form').submit();
    }
</script>
</body>
</html>