<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>会员批量充值记录</h3>
                <h5>网站系统会员批量充值记录</h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="{:U('admin/user/recharge_user_add')}" data-state=""><span>添加充值会员</span></a></li>
                <li><a href="{:U('admin/user/recharge_user_list')}" data-state=""><span>充值会员列表</span></a></li>
                <li><a href="{:U('admin/user/recharge_user_log')}" data-state="0" class="current"><span>批量充值记录</span></a></li>
            </ul>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>会员批量充值记录历史</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>会员批量充值记录列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <form class="navbar-form form-inline" id="search-form" action="" method="post" onsubmit="return check_form();">
                <input type="hidden" name="timegap" id="timegap" value="{$timegap}">
                <div class="sDiv">
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="start_time" value="{$begin}" placeholder="起始时间" class="qsbox">
                        <input type="button" class="btn" value="起始时间">
                    </div>
                    <div class="sDiv2" style="margin-right: 10px;">
                        <input type="text" size="30" id="end_time" value="{$end}" placeholder="截止时间" class="qsbox">
                        <input type="button" class="btn" value="截止时间">
                    </div>
                    <div class="sDiv2">
                        <select class="select" name="search_type"> 
                            <option value="user_id" <if condition="$search_type eq 'user_id'">selected</if>>会员ID</option>
                            <option value="nickname" <if condition="$search_type eq 'nickname'">selected</if>>会员昵称</option>
                        </select>
                        <input type="text" size="30" name="search_value" value="{$search_value}" placeholder="查询" class="qsbox">
                        <input type="button" onclick="clickSearch(this,'search-form')"  class="btn" value="搜索">
                    </div>
                </div>
            </form>
        </div>
        
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 50px;" class="">记录ID</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 50px;" class="">会员ID</div>
                        </th>
                        <th align="center" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: center; width: 150px;" class="">会员昵称</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">充值资金</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 150px;" class="">充值时间</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">充值状态</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">本次充值总人数</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: center; width: 100px;" class="">描述</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody>
                    <volist name="list" id="list">
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 50px;">{$list.id}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 50px;">{$list.user_id}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$list.nickname}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$list.account}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 150px;">{$list.ctime|date="Y-m-d H:i:s",###}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;"><if condition="$list[pay_status] eq 0">待充值<else/>已充值</if></div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$list.total}</div>
                            </td>
                            <td align="center" class="">
                                <div style="text-align: center; width: 100px;">{$list.desc}</div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
            <!--分页位置-->
            {$pager->show()} 
        </div>
</div>
<script>


    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
        // $('#start_time').layDate();
        // $('#end_time').layDate();
        laydate.render({
            theme: "molv",
            type: "datetime",
            elem: "#start_time"
        })
        laydate.render({
            theme: "molv",
            type: "datetime",
            elem: "#end_time"
        })        
    });

    function check_form(){
        var start_time = $.trim($('#start_time').val());
        var end_time =  $.trim($('#end_time').val());
        if(start_time == '' ^ end_time == ''){
            layer.alert('请选择完整的时间间隔', {icon: 2});
            return false;
        }
        if(start_time !== '' && end_time !== ''){
            $('#timegap').val(start_time+","+end_time);
        }
        if(start_time == '' && end_time == ''){
            $('#timegap').val('');
        }
        return true;
    }
</script>
</body>
</html>