<include file="public/layout"/>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>主播列表</h3>
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <div id="explanation" class="explanation"
         style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
        <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
            <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
            <span title="收起提示" id="explanationZoom" style="display: block;"></span>
        </div>
        <ul>
            <li>主播列表, 审核操作申请信息</li>
        </ul>
    </div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>主播列表</h3>
                <h5>(共{$pager->totalRows}条记录)</h5>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <form class="navbar-form form-inline" id="search-form" method="get" action="{:U('Live/info_list')}">
                <div class="sDiv">
                    <div class="sDiv2">
                        <select name="verify_state" id="verify_state" class="select">
                            <option value="">全部</option>
                            <option value="0">审核中</option>
                            <option value="1">通过</option>
                            <option value="2">未通过</option>
                        </select>
                        <input type="text" size="30" name="keywords" class="qsbox" value="{$keywords}" placeholder="搜索相关数据...">
                        <input class="btn" value="搜索" type="submit">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0" onclick="checkAllSign(this)">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col6" class="">
                            <div style="text-align: left; width:65px;" class="">操作</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">ID</div>
                        </th>

                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: left; width: 100px;" class="">申请用户ID</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">身份证姓名</div>
                        </th>
                        <th align="center" abbr="article_show" axis="col5" class="">
                            <div style="text-align: left; width: 100px;" class="">手机号</div>
                        </th>
                        <th align="center" abbr="article_time" axis="col6" class="">
                            <div style="text-align: left; width: 200px;" class="">申请时间</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">状态</div>
                        </th>
                        <th align="center" axis="col1" class="handle">
                            <div style="text-align: center; width: 150px;">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0" data-url="{:U('Admin/Live/infoHandle')}">
                <table>
                    <tbody>
                    <volist name="list" id="list">
                        <tr data-id="{$list[id]}">
                            <td class="sign" axis="col6">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td class="handle">
                                <div style="text-align:left;   min-width:50px !important; max-width:inherit !important;">
                  <span class="btn"><em><i class="fa fa-cog"></i>设置<i class="arrow"></i></em>
                  <ul>
                      <li><a href="{:U('Admin/Live/info',array('id'=>$list['id']))}">
                          <if condition="$list['verify_state'] eq 0">审核<else/>查看</if></a><li>
<!--                        <li><a href="javascript:void(0);" onclick="publicHandle('{$list[id]}','del')">删除</a></li>-->
                  </ul>
                  </span>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$list.id}</div>
                            </td>

                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$list.user_id}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$list.name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$list.mobile}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 200px;">{$list.create_time}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">
                                    <if condition='$list[verify_state] eq 0'><i style="color: #ff0000">待审核</i>
                                        <elseif condition='$list[verify_state] eq 2'>
                                            <i style="color:#0fff0f">未通过</i>
                                        </elseif>
                                        <else/>
                                        <i style="color:#0fff0f">通过</i>
                                    </if>
                                </div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                    <a class="btn blue" href="{:U('Admin/user/detail',array('id'=>$list['user_id']))}">用户详情</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page}
    </div>
</div>
<script>
    $(document).ready(function () {
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function () {
            $(this).toggleClass('trSelected');
        });
        // 点击刷新数据
        $('.fa-refresh').click(function () {
            location.href = location.href;
        });

    });

    function delfun(obj) {
        // 删除按钮
        layer.confirm('确认删除？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {act: 'del', id: $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                            $(obj).parent().parent().parent().remove();
                        })
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 2000})
                    }
                }
            })
        }, function () {
        });
    }
</script>
</body>
</html>