@font-face{
	font-family: 'PingFangBold';
	src:url("../../font/PingFangBold.ttf")
}
body{
	overflow: hidden;
}

.wrapper{
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	font-family: "PingFangBold";
}
.category-wrap{
	background: #fff;
}

/*顶部搜索*/
.top-bar{
	height: 1.8rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.2rem 0.5rem;
}
.top-bar .search{
	width: 100%;
	height: 100%;
	background: #f8f8f8;
	border-radius: 0.15rem;
}
.top-bar .search form{
	height: 100%;
	display: flex;
	align-items: center;
}
.top-bar .search .search-btn{
	width:0.58rem;
	background: url(../../images/category/search-zp.png) no-repeat;
	background-size: 100%;
	margin: 0 0.3rem;
	border: none;
}
.top-bar .search .search-text{
	width: 100%;
	background: none;
	font-size: 0.54rem;
	color: #999999;
	border: none;
}
.top-bar .search .scan{
	width:0.45rem;
	height: 0.45rem;
	display: inline-block;
	background: url(../../images/category/sweep.png) no-repeat center center;
	background-size: 100%;
	margin: 0 0.3rem;
	display: none;
}
.top-bar .msg-icon{
	width: 0.45rem;
	height: 0.45rem;
	background:url(../../images/category/news.png) no-repeat;
	background-size: 100%;
	display: none;
}

/*分类主体*/
.category-main{
	display: flex;
	overflow: hidden;
}

/*左侧菜单*/
.category-main .menu{
	width: 4rem;
	margin-right: 0.3rem;
	background: #f7f7f7;
	height: 26.4rem;
    overflow-y: auto;
}
.category-main .menu li{
	height: 1.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.54rem;
	text-align: center;
}
.category-main .menu li i{
	width: 0.15rem;
	height: 0.52rem;
	display: inline-block;
	margin-right: 0.18rem;
	display: none;
}
.category-main .menu li.active{
	background: #fff;
}
.category-main .menu li.active i{
	height: 0.5rem;
	background: #f05c3a;
	display: inline-block;
}

/*分类右侧*/
.category-main .main{
	flex: 1;
	padding-right: 0.3rem;
	overflow-y: scroll;
	height: 26.6rem;
}
.branchList{
	display: none;
}
.branchList.active{
	display: block;
}

/*分类广告图*/
.category-main .advert{
	margin-bottom: 0.3rem;
}
.category-main .advert img{
	width: 100%;
	display: block;
	border-radius: 0.2rem;
}

/*分类公共样式*/
.category-main .cate-item {
	margin-bottom: 0.35rem;
}
.category-main .cate-item h3{
	line-height: 0.7rem;
	padding-left: 0.2rem;
	font-size: 0.6rem;
	font-weight: bold;
	margin-bottom: 0.2rem;
}


/*分类列表，三个模块样式一致*/
.cate-item .cate-list{
	display: flex;
	flex-wrap: wrap;
	border-radius: 0.1rem;
}
.cate-list .item{
	width: 32%;
	margin-right: 0.14rem;
	text-align: center;
	margin-bottom: 0.25rem;
}
.cate-list .item a{
	color: #101010;
	font-size: 0.24rem;
}
.cate-list .item img{
	width: 2.1rem;
	height: 2.1rem;
	display: block;
	margin: 0 auto 0.2rem;
}
.cate-list .item p{
	line-height: 0.5rem;
	font-size: 0.5rem;
}


/*精选专辑*/
.album-list .album-item{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 0.2rem;
}
.album-list .album-img{
	width: 1.32rem;
	display: block;
	border-radius: 0.08rem;
	margin-right: 0.27rem;
}
.album-list .line-1 a{
	font-size: 0.28rem;
	color: #101010;
	margin-bottom: 0.3rem;
}
.album-list .line-2{
	font-size: 0.2rem;
	color: #666666;
}
.album-list .line-2 span{
	margin-right: 0.35rem;
}
.album-list .line-2 i{
	color: #e51c23;
}
.album-list .album-enter{
	width: 0.13rem;
	height: 0.2rem;
	background: url(../../images/category/Back_B.png) no-repeat;
	background-size: 100%;
}

/*面部护理*/
.nursing-list .item{
	display: flex;
	position: relative;
	border-bottom: 1px solid #f9f6f6;
	padding: 0.1rem 0;
}
.nursing-list .item .nursing-img{
	width: 1.32rem;
	height: 1.32rem;
	display: block;
	margin-right: 0.27rem;
}
.nursing-list .text .title a{
	color: #101010;
	font-size: 0.28rem;
	line-height: 0.8rem;
}
.nursing-list .text .price{
	color: #353535;
}
.nursing-list .text .price i{
	color: #666666;
}
.nursing-list .item .cart-btn{
	width: 0.32rem;
	height: 0.32rem;
	background: url(../../images/category/cart-icon-default.png) no-repeat;
	background-size: 100%;
	position: absolute;
	right: 0;
	bottom: 0.1rem;
}
.nursing-list .item .cart-btn:active{
	width: 0.32rem;
	height: 0.32rem;
	background: url(../../images/category/cart-icon-red.png) no-repeat;
	background-size: 100%;
}

/*更多分类*/
.branchList .cate-more a{
	width: 2.63rem;
	height: 0.7rem;
	background: #424242;
	text-align: center;
	line-height: 0.7rem;
	color: #fff;
	font-size: 0.22rem;
	border-radius: 0.08rem;
	margin: 0.5rem auto;
	display: block;
}
.branchList .cate-more i{
	width: 0.13rem;
	height: 0.2rem;
	background: url(../../images/category/Back_W.png) no-repeat;
	background-size: 100%;
	display: inline-block;
	margin-left: 0.17rem;
}


