<include file="public/layout"/>
<!--<script type="text/javascript" src="//api.map.baidu.com/api?ak=iR2qhnXd5vrFI9wUuIRG9AWGIqykVNok&v=2.0"></script>-->
<!--<link href="__PUBLIC__/static/css/timePicker.css" rel="stylesheet" type="text/css">-->
<script type="text/javascript" src="__PUBLIC__/static/js/jquery-1.9.1-min.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/static/js/jquery-timepicker.js"></script>-->
<style>
    .select-business-map {
        width: 485px;
        height: 270px;
    }
</style>
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer"
     style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i
                class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>门店商品管理 - 门店绑定商品并分配库存</h3>
                <h5>网站系统门店商品管理</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="handleForm">
        <input name="shop_goods_id" type="hidden" value="{$shop['shop_goods_id']}"/>
        <div class="ncap-form-default">

            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择商品</label>
                </dt>
                <dd class="opt">
                    <input type="hidden" id="goods_id" name="goods_id" value="{$shop.goods_id}" maxlength="16" class="input-txt">
                    <input type="text" id="goods_name" name="goods_name" value="{$shop.goods_name}" maxlength="16" class="input-txt">
                    <a class="ncap-btn" onclick="selectwrite_off_clerk_goods()">
                        选择商品
                    </a>
                    <span class="err" id="err_user_id"></span>
                </dd>
            </dl>

            <!--<dl class="row">
                <dt class="tit">
                    <label><em>*</em>核销员姓名</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="user_name" value="{$shop.user_name}" class="input-txt" placeholder="核销员姓名">
                    <span class="err" id="err_user_name"></span>
                </dd>
            </dl>-->
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>选择门店</label>
                </dt>
                <dd class="opt">
                    <input type="hidden" id="shop_id" name="shop_id" value="{$shop.shop_id}" maxlength="16" class="input-txt">
                    <input type="text" id="shop_name" name="shop_name" value="{$shop.shop_name}" maxlength="16" class="input-txt">
                    <a class="ncap-btn" onclick="selectwrite_off_clerk_shop()">
                        选择门店
                    </a>
                    <span class="err" id="err_shop_id"></span>
                </dd>
            </dl>
            <!--<dl class="row">
                <dt class="tit">
                    <label><em>*</em>状态</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="goods_category1" class="cb-enable <if condition="$shop[status] eq 1">selected</if>">是</label>
                        <label for="goods_category0" class="cb-disable <if condition="$shop[status] eq 0">selected</if>">否</label>
                        <input id="goods_category1" name="status" value="1" type="radio" <if condition="$shop[status] eq 1"> checked="checked"</if>>
                        <input id="goods_category0" name="status" value="0" type="radio" <if condition="$shop[status] eq 0"> checked="checked"</if>>
                    </div>
                    &lt;!&ndash;<input type="text" name="status" value="{$shop.status}" class="input-txt">
                    <span class="err" id="err_status"></span>&ndash;&gt;
                </dd>
            </dl>-->
            <div class="bot"><a class="ncap-btn-big ncap-btn-green" id="submit">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $(document).on("click", '#submit', function (e) {
            $('#submit').attr('disabled', true);
            verifyForm();
        })
    });

    //选择核销员
    function selectwrite_off_clerk_goods(){
        var title='选择商品';
        var url = "{:U('Shop/search_goods')}";
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.2,
            area: ['61%', '75%'],
            content: url,
        });
    }

    //选择门店
    function selectwrite_off_clerk_shop(){
        var title='选择门店';
        var url = "{:U('Shop/search_shop')}";
        layer.open({
            type: 2,
            title: title,
            shadeClose: true,
            shade: 0.2,
            area: ['61%', '75%'],
            content: url,
        });
    }

    function verifyForm() {
        $('span.err').hide();
        //var shop_id = $("input[name='shop_id']").val();
        var url = "{:U('Shop/shop_goodsHandle')}";
        /*if (shop_id > 0) {
            url = "{:U('Shop/save')}";
        }*/
        $.ajax({
            type: "POST",
            url: url,
            data: $('#handleForm').serialize(),
            async: false,
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1, time: 2000}, function () {
                        location.href = "{:U('Shop/store_binding_goods')}";
                    });
                } else {
                    $('#submit').attr('disabled', false);
                    $.each(data.result, function (index, item) {
                        $('span.err').show();
                        var id = index.replace('[]', '');
                        $('#err_' + id).text(item);
                    });
                    layer.msg(data.msg, {icon: 2, time: 3000});
                }
            }
        });
    }

    //处理选择之后的核销员|门店
    function call_back(Item){
        if(Item.length >0){
            for(var key in Item[0]){
                document.getElementById(key).value = Item[0][key];
            }
        }
        layer.closeAll('iframe');
    }

</script>
</body>
</html>