<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>区域代理 - 添加编辑区域代理</h3>
                <h5>网站系统区域代理管理</h5>
            </div>
        </div>
    </div>
    
    <form class="form-horizontal" id="area_form">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="user_id"><em>*</em>用户ID</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="user_id" value="{$agent.user_id|default=''}" id="user_id" class="input-txt" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                    <span class="err" id="erruser_id"></span>
                    <p class="notic">填写需要设置为区域代理的用户ID</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="agency_level"><em>*</em>区域代理等级</label>
                </dt>
                <dd class="opt">
                    <select name="agency_level" id="agency_level" onchange="init_area();">
                        <option value="1" <if condition="$agent.agency_level eq 1">selected</if>>区县代理</option>
                        <option value="2" <if condition="$agent.agency_level eq 2">selected</if>>地级市代理</option>
                        <option value="3" <if condition="$agent.agency_level eq 3">selected</if>>省代</option>
                    </select>
                    <span class="err" id="err_agency_level"></span>
                    <p class="notic">设置代理等级名称</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="team_sum"><em>*</em><span>选择地区</span></label>
                </dt>
                <dd class="opt" id="area">
                    <select name="province" id="province" onchange="change_area('city', this.value);">
                        <foreach name="province" item="item">
                            <option value="{$item.id}" <if condition="$item.id eq $pre_province">selected</if>>{$item.name}</option>
                        </foreach>
                    </select>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="verifyForm()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var city = 0;
    var province = 0;
    init_area();

    //初始化选择区域
    function init_area(){
        var agency_level = $('#agency_level').val();
        $('#city').remove();
        $('#district').remove();
        if(agency_level == '2'){
            province = $('#province').val();
            show_city(province);
        }else if(agency_level == '1'){
            province = $('#province').val();
            show_city(province);
            show_district(city);
        }
    }

    //显示城市区域
    function show_city(province){
        $.ajax({
            type: "post",
            url : "{:url('api/region/get_region')}",
            data: {id : province},
            async: false,
            dataType: 'json',
            success: function(data){
                if(data.status == 0){
                    var result = data.data;
                    if($('#city').length > 0){
                        $('#city').empty();
                    }else{
                        var select = "<select name=\"city\" id=\"city\" onchange=\"change_area('district', this.value);\"></select>";
                        $('#area').append(select);
                    }
                    for(var i=0; i<result.length; i++){
                        if((i == 0) || (result[i]['id'] == '{$pre_city}')){
                            city = result[i]['id'];
                            var option = "<option value=\"" + result[i]['id'] + "\" selected>" + result[i]['name'] + "</option>"
                        }else{
                            var option = "<option value=\"" + result[i]['id'] + "\">" + result[i]['name'] + "</option>"
                        }
                        $('#city').append(option);
                    }                   
                }else{
                    console.log(data);
                }
            },
            error: function(data) {
                layer.alert("服务器繁忙, 请联系管理员!");
            }
        });
    }

    //显示区县区域
    function show_district(city){
        $.ajax({
            type: "post",
            url : "{:url('api/region/get_region')}",
            data: {id : city},
            async: false,
            dataType: 'json',
            success: function(data){
                if(data.status == 0){
                    var result = data.data;
                    if($('#district').length > 0){
                        $('#district').empty();
                    }else{
                        var select = "<select name=\"district\" id=\"district\"></select>";
                        $('#area').append(select);
                    }
                    for(var i=0; i<result.length; i++){
                        if(result[i]['id'] == '{$pre_district}'){
                            var option = "<option value=\"" + result[i]['id'] + "selected   \">" + result[i]['name'] + "</option>"
                        }else{
                            var option = "<option value=\"" + result[i]['id'] + "\">" + result[i]['name'] + "</option>"
                        }
                        $('#district').append(option);
                    }                   
                }else{
                    console.log(data);
                }
            },
            error: function(data) {
                layer.alert("服务器繁忙, 请联系管理员!");
            }
        });
    }

    //改变选择区域
    function change_area(area, area_id){
        var agency_level = $('#agency_level').val();
        if((area == 'city') && (agency_level == '1')){
            show_city(area_id);
            show_district(city);
        }else if((area == 'city') && (agency_level == '2')){
            show_city(area_id);
        }else if((area == 'district') && (agency_level == '1')){
            show_district(area_id);
        }
    }

    //确认提交
    function verifyForm(){
        var user_id = $('#user_id').val();
        var action  = '{$action}'; 
        if(user_id == ''){
            layer.msg('用户id不能为空！', {icon:2});
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/index.php?m=Admin&c=Distribut&a=" + action,
            data: $('#area_form').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
                return false;
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1}, function(){
                        location.href = "{:U('Admin/Distribut/agent_area_list')}";
                    });
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }
        });
    }
</script>
</body>
</html>