<include file="public/layout" />
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
	<div class="fixed-bar">
		<div class="item-title">
			<div class="subject">
				<h3>消费日志</h3>
				<h5>消费日志信息管理</h5>
			</div>
		</div>
	</div>

	<!-- 操作说明 -->
	<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
		<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
		  <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
		  <span title="收起提示" id="explanationZoom" style="display: block;"></span>
		</div>
		 <ul>
			<li>会员消费日志信息管理,可以按搜索条件导出表格</li>
		</ul>
	</div>
	
	<div class="flexigrid">
		<div class="mDiv">
			<div class="ftitle">
				<h3>日志记录</h3>
				<h5>(共{$pager->totalRows}条记录)</h5>
			</div>
			<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>

			<form class="navbar-form form-inline" id="search-form" method="POST" action="" onSubmit="return check_form();">
				<input type="hidden" name="timegap" id="timegap" value="{$timegap}">
				<div class="sDiv">
					<div class="sDiv2" style="margin-right: 10px;">
						<input type="text" size="30" id="start_time" value="{$begin}" placeholder="起始时间" class="qsbox">
						<input type="button" class="btn" value="起始时间">
					</div>
					<div class="sDiv2" style="margin-right: 10px;">
						<input type="text" size="30" id="end_time" value="{$end}" placeholder="截止时间" class="qsbox">
						<input type="button" class="btn" value="截止时间">
					</div>
					<div class="sDiv2">
						<select class="select" name="search_type">
                            <option value="user_id" <if condition="$search_type eq 'user_id'">selected</if>>会员ID</option>
                            <option value="nickname" <if condition="$search_type eq 'nickname'">selected</if>>会员昵称</option>
                            <option value="account" <if condition="$search_type eq 'account'">selected</if>>会员账户</option>
                        </select>
                        <input type="text" size="30" name="search_value" value="{$search_value}" placeholder="模糊查询" class="qsbox">
						<input type="button" onclick="clickSearch(this,'search-form')"  class="btn" value="搜索">
					</div>
				</div>
			</form>
		</div>

		<div class="hDiv">
			<div class="hDivBox">
				<table cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="sign" axis="col0">
							<div style="width: 24px;"><i class="ico-check"></i></div>
						</th>
						<th align="center" axis="col3" class="">
							<div style="text-align: center; width: 50px;" class="">日志ID</div>
						</th>
						<th align="center" axis="col3" class="">
							<div style="text-align: center; width: 50px;" class="">会员ID</div>
						</th>
						<th align="center" axis="col4" class="">
							<div style="text-align: center; width: 100px;" class="">会员昵称</div>
						</th>
						<th align="center" axis="col4" class="">
							<div style="text-align: center; width: 100px;" class="">手机号码</div>
						</th>
						<th align="center" axis="col5" class="">
							<div style="text-align: center; width: 200px;" class="">金额</div>
						</th>
						<th align="center" axis="col6" class="">
							<div style="text-align: center; width: 150px;" class="">时间</div>
						</th>
						<th align="center" axis="col6" class="">
							<div style="text-align: center; width: 200px;" class="">描述</div>
						</th>
						<th align="center" axis="col1" class="handle">
							<div style="text-align: center; width: 200px;">操作</div>
						</th>
						<th style="width:100%" axis="col7">
							<div></div>
						</th>
					</tr>
					</thead>
				</table>
			</div>
		</div>

		<div class="tDiv">
			<div class="tDiv2">
					<div class="fbutton">
							<a href="javascript:;" onclick="exportUser()">
									<div class="add" title="导出会员">
											<span><i class="fa fa-share"></i>导出记录</span>
									</div>
							</a>
					</div>
			</div>
			<div style="clear:both"></div>
	</div>

		<div class="bDiv" style="height: auto;">
			<div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
				<table>
					<tbody>
					<foreach name="log" item="vo" key="k" >
						<tr>
							<td class="sign">
								<div style="width: 24px;"><i class="ico-check"></i></div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 50px;">{$vo.log_id}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 50px;">{$vo.user_id}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 100px;">{$vo.nickname}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 100px;">{$vo.mobile}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 200px;">{$vo.user_money}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 150px;">{$vo.change_time|date="Y-m-d H:i:s", ###}</div>
							</td>
							<td align="center" class="">
								<div style="text-align: center; width: 200px;">{$vo.desc}</div>
							</td>
							<td align="center" class="handle">
								<div style="text-align: center; width: 200px; max-width:200px;">
									<a class="btn blue" href="{:U('Distribut/log_detail',array('id'=>$vo['log_id']))}"><i class="fa fa-search"></i>查看</a>
								</div>
							</td>
							<td align="" class="" style="width: 100%;">
								<div>&nbsp;</div>
							</td>
						</tr>
					</foreach>
					</tbody>
				</table>
			</div>
			<div class="iDiv" style="display: none;"></div>
		</div>
		<!--分页位置-->
			{$pager->show()}
		 </div>
</div>
<script>
	$(document).ready(function(){
		// 表格行点击选中切换
		$('#flexigrid > table>tbody >tr').click(function(){
			$(this).toggleClass('trSelected');
		});

		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});

		//选中全部
		$('.hDivBox .sign').click(function(){
			var sign = $('#flexigrid > table>tbody>tr');
			if($(this).parent().hasClass('trSelected')){
				sign.each(function(){
					$(this).removeClass('trSelected');
				});
				$(this).parent().removeClass('trSelected');
			}else{
				sign.each(function(){
					$(this).addClass('trSelected');
				});
				$(this).parent().addClass('trSelected');
			}
		})

		// 起始位置日历控件
        $('#start_time').layDate();
        $('#end_time').layDate();
	});

	function check_form(){
		var start_time = $.trim($('#start_time').val());
		var end_time =  $.trim($('#end_time').val());
		if(start_time == '' ^ end_time == ''){
			layer.alert('请选择完整的时间间隔', {icon: 2});
			return false;
		}	
		if(start_time > end_time){
			layer.alert('请选择正确的起始时间', {icon: 2});
			return false;
		}
		if(start_time !== '' && end_time !== ''){
				$('#timegap').val(start_time+","+end_time);
		}
		if(start_time == '' && end_time == ''){
				$('#timegap').val('');
		}		 
		return true;
	}

	//导出表格
	function exportUser() {
        $('#search-form').attr('action',"{:U('Distribut/export_log', array('type'=>'consume_log'))}");
        $('#search-form').submit();
		$('#search-form').attr('action',"")
    }
</script>
</body>
</html>