<include file="public/layout" />
<style>
    .ncm-goods-gift {
        text-align: left;
    }

    .ncm-goods-gift ul {
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
    }

    .ncm-goods-gift li {
        display: inline-block;
        letter-spacing: normal;
        margin-right: 4px;
        vertical-align: top;
        word-spacing: normal;
    }

    .ncm-goods-gift li a {
        background-color: #fff;
        display: table-cell;
        height: 30px;
        line-height: 0;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }

    .ncm-goods-gift li a img {
        max-height: 30px;
        max-width: 30px;
    }

    a.green {

        background: #16A086 none repeat scroll 0 0;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer !important;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        height: 20px;
        letter-spacing: normal;
        line-height: 20px;
        margin: 0 5px 0 0;
        padding: 1px 6px;
        vertical-align: top;
    }

    a.green:hover {
        color: #FFF;
        background-color: #1BBC9D;
        border-color: #16A086;
    }

    .ncap-order-style .ncap-order-details {
        margin: 20px auto;
    }

    .contact-info h3,
    .contact-info .form_class {
        display: inline-block;
        vertical-align: middle;
    }

    .form_class i.fa {
        vertical-align: text-bottom;
    }
</style>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.go(-1)" title="返回列表"><i
                    class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>查看返利情况</h3>
                <h5>查看返利情况</h5>
            </div>
            <div class="subject" style="width:62%">

            </div>
        </div>

    </div>
    <div class="ncap-order-style">
        <div class="titile">
            <h3>
                查看返利情况
            </h3>
        </div>

        <div class="ncap-order-details">
            <form id="order-action">
                <input name="order_id" value="{$order['order_id']}" type="hidden" />
                <div class="tabs-panels">
                    <div class="misc-info">
                        <h3>上级信息</h3>
                        <dl>
                            <dt>上级 ID：</dt>
                            <dd>{$leader.user_id}</dd>
                            <dt>上级昵称：</dt>
                            <dd>{$leader.nickname}</dd>
                            <dt>上级头像：</dt>
                            <dd>{$leader.head_pic}</dd>
                        </dl>
                       
                    </div>
                  

                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>