<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>会员等级管理 - 编辑会员等级</h3>
                <h5>网站系统会员等级管理</h5>
            </div>
        </div>
    </div>
    <if condition="$info.level_id == 12 ">
        <form class="form-horizontal" id="handleposition" method="post">
            <input type="hidden" name="act" value="{$act}">
            <input type="hidden" name="level_id" value="{$info.level_id}">
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">
                        <label for="rate"><em>*</em>佣金占比</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="rate" value="{$info.rate}" id="rate" class="input-txt" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                        <span class="err" id="err_rate"></span>
                        <p class="notic">佣金占比单位为百分比，如输入10，表示该代理等级的用户可获得商品原价10%的佣金</p>
                    </dd>
                </dl>
                <div class="bot"><a href="JavaScript:void(0);" onclick="verifyForm()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
            </div>
        </form>
    <else>
        <form class="form-horizontal" id="handleposition" method="post">
            <input type="hidden" name="act" value="{$act}">
            <input type="hidden" name="level_id" value="{$info.level_id}">
            <div class="ncap-form-default">
                <dl class="row">
                    <dt class="tit">
                        <label for="level"><em>*</em>等级</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="level" value="{$info.level}" id="level" class="input-txt" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                        <span class="err" id="err_level"></span>
                        <p class="notic">设置代理等级(整型)</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="level_name"><em>*</em>等级名称</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="level_name" value="{$info.level_name}" id="level_name" class="input-txt">
                        <span class="err" id="err_level_name"></span>
                        <p class="notic">设置代理等级名称</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="max_money"><!-- <em>*</em> -->团队佣金</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="max_money" value="{$info.max_money}" id="max_money" class="input-txt" onkeyup="this.value=/^\d+\.?\d{0,2}$/.test(this.value) ? this.value : ''">
                        <span class="err" id="err_max_money"></span>
                        <p class="notic">达到该等级，团队佣金 单位: 元</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="remaining_money"><!-- <em>*</em> -->代理拥金总和</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="remaining_money" value="{$info.remaining_money}" id="remaining_money" class="input-txt" onkeyup="this.value=/^\d+\.?\d{0,2}$/.test(this.value) ? this.value : ''">
                        <span class="err" id="err_remaining_money"></span>
                        <p class="notic">达到该等级，代理拥金总和 单位: 元</p>
                    </dd>
                </dl>
                <dl class="row">
                    <dt class="tit">
                        <label for="rate"><em>*</em>佣金占比</label>
                    </dt>
                    <dd class="opt">
                        <input type="text" name="rate" value="{$info.rate}" id="rate" class="input-txt" onkeyup="this.value=this.value.replace(/[^\d]/g,'')">
                        <span class="err" id="err_rate"></span>
                        <p class="notic">佣金占比单位为百分比，如输入10，表示该代理等级的用户可获得商品原价10%的佣金</p>
                    </dd>
                </dl>
                <div class="bot"><a href="JavaScript:void(0);" onclick="verifyForm()" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
            </div>
        </form>
    </else>
</if>

</div>
<script type="text/javascript">
    function verifyForm(){
        $('span.err').show();
        $.ajax({
            type: "POST",
            url: "{:U('Admin/Distribut/levelHandle')}",
            data: $('#handleposition').serialize(),
            dataType: "json",
            error: function () {
                layer.alert("服务器繁忙, 请联系管理员!");
            },
            success: function (data) {
                if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1});
                    location.href = "{:U('Admin/Distribut/agent_grade_list')}";
                } else {
                    layer.msg(data.msg, {icon: 2});
                    $.each(data.result, function (index, item) {
                        $('#err_' + index).text(item).show();
                    });
                }
            }
        });
    }
</script>
</body>
</html>